{{- $showAnchor := (and (default true .Page.Params.GeekdocAnchor) (default true .Page.Site.Params.GeekdocAnchor)) -}}

<!-- prettier-ignore-start -->
{{- if $showAnchor -}}
<div class="gdoc-page__anchorwrap">
    <h{{ .Level }} id="{{ .Anchor | safeURL }}" {{- with .Attributes.class }}
        class="{{ . }}"
    {{- end }}
    >
        {{ .Text | safeHTML }}
        <a data-clipboard-text="" class="gdoc-page__anchor clip flex align-center" title="{{ i18n "title_anchor_prefix" }} {{ .Text | safeHTML }}" aria-label="{{ i18n "title_anchor_prefix" }} {{ .Text | safeHTML }}" href="#{{ .Anchor | safeURL }}">
            <svg class="gdoc-icon gdoc_link"><use xlink:href="#gdoc_link"></use></svg>
        </a>
    </h{{ .Level }}>
</div>
{{- else -}}
<div class="gdoc-page__anchorwrap">
    <h{{ .Level }} id="{{ .Anchor | safeURL }}" {{- with .Attributes.class }}
        class="{{ . }}"
    {{- end }}
    >
        {{ .Text | safeHTML }}
    </h{{ .Level }}>
</div>
{{- end -}}
<!-- prettier-ignore-end -->

<script>
    document.addEventListener("DOMContentLoaded", function () {
        function generateFullUrl(permalink, anchor) {
            var baseUrl = window.location.origin;
            return baseUrl + permalink + '#' + anchor;
        }

        // Loop through all anchor buttons and set data-clipboard-text attribute
        document.querySelectorAll('.gdoc-page__anchorwrap a').forEach(function(anchor) {
            var permalink = "{{ .Page.RelPermalink }}";
            var anchorId = anchor.getAttribute('href').substring(1);
            anchor.dataset.clipboardText = generateFullUrl(permalink, anchorId);
        });
    });
</script>
