/*

Add styles or override variables from the theme here.

*/

// Resize navbar logo SVG

svg {
    display: inline-block;
    margin: 0 10px;
    height: 50px;
}

// css to center the landing page features
.text-center {
    margin: auto;
}

// change some colors to ix-blue
$primary: #0095D5;
$secondary: #666666;

// Some css to go modify the pageinfo shortcode
.pageinfo-version {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

// Adjustments for font elegant icons used within content
.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.tg
.tg .tg-wp8o {
	text-align: center;
	vertical-align: top;
}
.tg .tg-73oq {
	border-top:transparent !important;
	text-align:left;
	vertical-align:top;
}

.h2 .frontcenter {
	text-align: center;
}

.box-centered {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}