/*

Add styles or override variables from the theme here.

*/

// Switch to Inter for body

$google_font_name: "Inter";
$google_font_family: "Inter:300,300i,400,400i,700,700i";

// Resize navbar logo SVG

svg {
    display: inline-block;
    margin: 0 10px;
    height: 50px;
}

// css to center the landing page features
.text-center {
    margin: auto;
}

// change some colors to ix-blue
$primary: #0095D5;
$secondary: #666666;

// Some css to go modify the pageinfo shortcode
.pageinfo-version {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

// Adjustments for font elegant icons used within content
.inline-svg {
  display: inline-block;
  height: 1.15rem;
  width: 1.15rem;
  top: 0.15rem;
  position: relative;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

// bottom links styling

.links-row {
  max-width: 100%;
  position: absolute;
  padding-left: 1%;
  padding-right: 1%;
  color: white;
}
// link list styling
.ul-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li-icons {
  float: right;
}
.li-links {
  float: left;
}

.li-links a {
  display: flex;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

.li-links a:hover {
  color: #d9d9d9;
  text-shadow: 1px 1px black;
}
// Front page body layout
.docscategories {
  background: #ffffff;
  color: black;
  max-width: 100%;
}
.heading, .grid-container {
  max-width: 95% !important;
  padding: 0 30px;
  margin: 0 auto;
  font: DIN 2014;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 375px 375px 375px 375px;
  grid-template-areas: "whatis initialsetup tasks" "advanced vcenter-plugin scale" "truecommand hardware references" "docs-contribute . .";
  max-width: 90%;
  grid-column-gap: 100px;
  grid-row-gap: 75px;
  
}

.whatis { grid-area: whatis; }

.initialsetup { grid-area: initialsetup; }

.tasks { grid-area: tasks; }

.advanced { grid-area: advanced; }

.references { grid-area: references; }

.vcenter-plugin { grid-area: vcenter-plugin; }

.scale { grid-area: scale; }

.truecommand { grid-area: truecommand; }

.hardware { grid-area: hardware; }

.docs-contribute { grid-area: docs-contribute; }

.block {
  position: relative;
  background: lighten($color: #ffffff, $amount: 30);
  padding: 10px;
}

.button-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}

// Links styled as buttons
.linkbutton {
  min-width: 180px;
  max-width: 30%;
  display: block !important;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: $primary;
  box-shadow: 3px 3px #D1D1D1;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.linkbutton:hover {
  color: #FFFFFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB;
}


// Links styled for grey background
.lightlink {
  color: #66b3ff;
}

.lightlink:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

.lightlink:hover {
  color: #3399ff;
  background-color: transparent;
  text-decoration: underline;
}

.lightlink:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}



.h2 .frontcenter {
	text-align: center;
}

.box-centered {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

nav a {
  outline: none;
}

@media (max-width: 999px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 375px);
    grid-template-areas: "whatis initialsetup"  "tasks advanced" "references vcenter-plugin" "truecommand hardware" "docs-contribute .";
  }

  #main_navbar {
    width: 65%;
    position: relative;
    margin-top: -10px;
    overflow: visible;
    margin-left: 20px !important;
  }

  .dropdown {
    width: 100px;
  }

  .dropdown-menu {
    position: sticky !important;
    width: 190px;
    
  }
}

// remove language dropdown in side TOC on mobile view
.td-sidebar-nav .dropdown .nav-link {
  display: none;
}
//

@media (max-width: 766px) {
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "whatis" "initialsetup"  "tasks" "advanced" "references" "vcenter-plugin" "truecommand" "hardware" "docs-contribute";
    
    .button-wrapper {
      position: unset;
    }
  }

  #main_navbar {
    width: 400px;
    position: relative;
    left: 8%;
  }

  .td-search-input {
    z-index: 10;

    @media (min-width: 999px) {
    width: 400px;
    position: relative;
    left: 8%;
    }
  }
}

@media (min-width: 760px) {
  .linkbutton.long-text {
    margin-left: 20%;
    margin-right: 20%;
  }
}

// footer color

.footer-darkblue {
  background-color: #00597F;
}

// hardware grid for TrueNAS WhatIs article
.hw-grid-container {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 25px 25px;
 grid-template-areas: "hw-mimage hw-mtext" "hw-ximage hw-xtext" "hw-miniimage hw-minitext" "hw-certifiedimage hw-certifiedtext"
}

.hw-mimage { grid-area: hw-mimage; }

.hw-mtext { grid-area: hw-mtext; }

.hw-ximage { grid-area: hw-ximage; }

.hw-xtext { grid-area: hw-xtext; }

.hw-miniimage { grid-area: hw-miniimage; }

.hw-minitext { grid-area: hw-minitext; }

.hw-certifiedimage { grid-area: hw-certifiedimage; }

.hw-certifiedtext { grid-area: hw-certifiedtext; }