<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="{{ "favicon/TN-favicon-32x32.png" | relURL }}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://use.typekit.net/tjl0ypy.css">
</head>

{{/* Use the title and description of the first page to begin the document */}}
{{ $tpl := printf "print/page-heading-%s.html" .Page.Type }}
{{ if templates.Exists (printf "partials/%s" $tpl) }}
  {{ partial $tpl . }}
{{ else -}}
<!-- <div class="gdoc-search-input">disabled search</div> -->
<h1 class="title">{{ .Title }}</h1>
{{ with .Page.Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
{{ end }}