<style>
  .children.children-li {
    display: none !important;
  }
  .noprint {
    display: none !important;
  }
  h1 {
    display: block !important;
  }
  img.logo {
    max-width: 300px !important;
    padding: 0 1em 1em 1em !important;
  }
  .line{
    width: 100%;
    margin: 1em 0 1em 0;
    border-bottom: 1px solid black;
    position: float;
    }
  .section-box {
    background-color: transparent !important;
    box-shadow: none !important;
    border: 1px solid;
  }   
</style>


{{ define "recurse-toc" }}
{{ end }}

{{ define "recurse-content" }}
  {{ $s := .section }}
  {{ $psid := .psid }}
  {{ $pages := (union $s.Pages $s.Sections).ByWeight }}
  {{ $subSection := 1 }}

  {{ $breakOnWordCount := default 50 ($s.Site.Param "print.section_break_wordcount") }}
  {{ $doPageBreak := gt (countwords $s.Content) $breakOnWordCount }}

  {{ range where $pages ".Params.no_print" "!=" true }}
    {{ $sid := printf "%s%d" $psid $subSection }}
    {{ $subSection = add $subSection 1 }}
	{{ $params := dict "Page" . "PageNum" $sid "DoPageBreak" $doPageBreak }}
    {{ partial "print/content.html" $params }}

    {{ if .IsSection }}
      {{ template "recurse-content" (dict "section" . "psid" (printf "%s." $sid) ) }}
    {{ end }}
	{{ $doPageBreak = true }}
  {{ end }}
{{ end }}

<div class="line" style="margin-top: 1em;"></div>
<a href="#" onclick="print();return false;">{{ "Print" }}</a><br>
<a href="{{ .RelPermalink }}">{{ "Back to Docs Hub" }}</a><br>
<div class="line" style="margin-bottom: 1em;"></div>

{{ partial "print/page-heading.html" . }}

<div class="content-print">
      {{ .Content }}
</div>
</div>

{{ template "recurse-content" (dict "section" .CurrentSection "psid" "") }}