{{ if or (in .Section "CORE") (in .Section "SCALE") (in .Section "TrueCommand") (in .Section "Solutions") }}
  {{ $hasRedirect := false }}
  {{ with .Content }} <!-- Check the content for the meta refresh tag -->
    {{ $hasRedirect = findRE "<meta\\s+http-equiv=\"refresh\"" . }}
  {{ end }}

  {{ if not $hasRedirect }}
    <!DOCTYPE html>
    <html lang="{{ .Site.Language.Lang }}" class="no-js">
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
          $(document).ready(function() {
            // Expand all elements with class "expand-details"
            $(".expand-details").attr("open", true);
          });
        </script>
      </head>
      <body class="td-{{ .Kind }}">
        <div class="container-fluid td-outer">
          <div class="td-main">
            <div class="row flex-xl-nowrap">
              <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
              </div>
              <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
              </div>
              <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main" data-pagefind-ignore>
                {{ block "main" . }}{{ end }}
              </main>
            </div>
          </div>
          {{ partial "foot.html" . }}
        </div>
      </body>
    </html>
  {{ end }}
{{ end }}
