<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <body class="td-{{ .Kind }}">
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
          </div>
          <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
          </div>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
      {{ partial "foot.html" . }}
    </div>
  </body>
</html>