{{ define "main" }}
  {{ $header := partialCached "page-header" . .Permalink }}
  {{ $align := default "left" (.Page.Params.GeekdocAlign | lower) }}
  {{ $showReadingTime := and (not .Params.hide_readingtime) .Site.Params.ui.readingtime.enable }}
  
  {{ $content := partialCached "utils/content" . .Permalink }}
  <article class="gdoc-markdown gdoc-markdown__align--{{ $align }}">
    {{ $pageTitle := partialCached "utils/title" . .Permalink }}
    <h1>{{ $pageTitle }}</h1>

    {{ if $showReadingTime }}
      {{ partialCached "reading-time.html" . .Permalink }}
    {{ end }}

    {{ $content }}
  </article>
{{ end }}
