{{ if not .Date.IsZero }}
  <span class="pr-2" title='{{ .Date.Format "January 2 2006" }}'><i class="far fa-calendar-alt pr-1"></i>{{ .Date.Format "2006-01-02" }}</span>
{{ end }}

{{ if not .Parent.IsHome }}
  {{ if gt .ReadingTime 2 }}
    <span class="pr-2" title='{{ .WordCount }} words'><i class="far fa-clock pr-1"></i>{{ .ReadingTime }} minutes</span>
  {{ end }}
{{ end }}

{{ if .Params.tags }}
  <a href="{{ ref . "/tags" }}" class="no-color-change mr-1" title="Tags">
    <i class="fas fa-tags small"></i>
  </a>
  {{ range (.Params.tags | sort) }}
    <a href="/tags/{{ urlize . }}" class="mr-1" title="{{ . }}">#{{ . }}</a>
  {{ end }}
{{ end }}