<footer class="footer-darkblue  row d-print-none">
  <div class="container-fluid mx-sm-5">
    <!-- <div class="row"> -->
      <div style="text-align: center; margin-top:20px">
      <!-- <div class="col-6 col-sm-4 text-xs-center order-sm-2"> -->
        <div>
        <ul class="ul-links" style="display:table; margin: 0 auto">
          <li class="li-links"><a href="https://www.truenas.com" target="_blank">TRUENAS</a></li>
          <li class="li-links"><a href="https://www.ixsystems.com" target="_blank">IXSYSTEMS</a></li>
          <li class="li-links"><a href="https://portal.ixsystems.com" target="_blank">IX ACCOUNT SERVICES</a></li>
          <li class="li-links"><a href="https://www.ixsystems.com/library/" target="_blank">IX LIBRARY</a></li>
          <li class="li-links"><a href="https://www.ixsystems.com/community/" target="_blank">COMMUNITY</a></li>
          <li class="li-links"><a href="https://security.ixsystems.com/" target="_blank">SECURITY</a></li>
          <li class="li-links"><a href="https://www.ixsystems.com/blog/" target="_blank">BLOG</a></li>
        </ul>
        <ul class="ul-links">
          <li class="li-icons"></li>
        </ul>
      </div>
      <!-- <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">

      </div> -->
      <!-- <div class="col-12 col-sm-4 text-center py-2 order-sm-2" style="display:flex;"> -->
      <div>
        <small class="text-white">&copy;
          <script>document.write(new Date().getFullYear())</script>&nbsp;iXsystems All Rights Reserved<br>
          Distributed under <a href="https://github.com/freenas/documentation/blob/master/LICENSE">CC BY NC SA 4.0</a>.
          Copyright and Trademark information can be found <a href="/copyright/copyright-notices.txt">here</a>.<br>
          <a href="https://www.ixsystems.com/privacy-policy/">Privacy Policy</a>
        </small>
      </div>
    </div>
  </div>
</footer>
