<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
      <div class="col-6 col-sm-4 text-xs-center order-sm-2">

      </div>
      <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">

      </div>
      <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
        <small class="text-white">&copy;
          <script>document.write(new Date().getFullYear())</script>
          iXsystems™ All Rights Reserved<br>Distributed under <a href="https://github.com/freenas/documentation/blob/master/LICENSE">CC BY NC SA 4.0</a>
          <br>
          Copyright and Trademark information can be found
          <a href="/copyright/copyright-notices.txt" target="_blank">here</a>.
        </small>

      </div>
    </div>
  </div>
</footer>
