<nav class="sidebar-fixed">
 <h2>{{ i18n "nav_navigation" }}</h2>

  {{ if not (isset .Params "main_index_class") }}
    {{ partial "search" . }}
    {{ partial "search-form" . }}
  {{ end }}

  <section class="gdoc-nav--main">
    {{ if .Site.Params.GeekdocMenuBundle }}
      {{ partial "menu-bundle" (dict "current" . "source" .Site.Data.menu.main.main) }}
    {{ else }}
      {{ partial "menu-filetree" . }}
    {{ end }}
  </section>

  {{ if and (in (slice "posts" "tags") .Section) (default false .Site.Params.GeekdocTagsToMenu) }}
    <section class="gdoc-nav--tags">
      <h2>{{ i18n "nav_tags" }}</h2>
      <ul class="gdoc-nav__list">
        {{ $currentPage := .RelPermalink }}
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
            <li>
              <a
                class="gdoc-nav__entry{{- if eq $currentPage .RelPermalink }}
                  {{- printf " is-active" }}
                {{- end }}"
                href="{{ .RelPermalink }}"
              >
                {{ partial "utils/title" . }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </section>
  {{ end }}

  <section class="gdoc-nav--more">
    {{ if .Site.Data.menu.more.more }}
      {{ partial "menu-bundle" (dict "current" . "source" .Site.Data.menu.more.more) }}
    {{ end }}
  </section>
</nav>
