{{ $cover := .HasShortcode "blocks/cover" }}
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark flex-column flex-md-row td-navbar">
        <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}">
		<span class="navbar-logo">{{ if .Site.Params.ui.navbar_logo }}{{ with resources.Get "icons/logo.svg" }}{{ ( . | minify).Content | safeHTML }}{{ end }}{{ end }}</span><span class="text-uppercase font-weight-bold">{{ .Site.Title }}</span>
	</a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">
		<ul class="navbar-nav mt-2 mt-lg-0">
			{{ $p := . }}
			{{ range .Site.Menus.main }}
			<li class="nav-item mr-4 mb-2 mb-lg-0">
				{{ $active := or ($p.IsMenuCurrent "main" .) ($p.HasMenuCurrent "main" .) }}
				{{ with .Page }}
				{{ $active = or $active ( $.IsDescendant .)  }}
				{{ end }}
				{{ $url := urls.Parse .URL }}
				{{ $baseurl := urls.Parse $.Site.Params.Baseurl }}
				<a class="nav-link{{if $active }} active{{end}}" href="{{ with .Page }}{{ .RelPermalink }}{{ else }}{{ .URL | relLangURL }}{{ end }}" {{ if ne $url.Host $baseurl.Host }}target="_blank" {{ end }}><span{{if $active }} class="active"{{end}}>{{ .Name }}</span></a>
			</li>
			{{ end }}
			{{ if  .Site.Params.versions }}
			<li class="nav-item dropdown d-lg-block">
				{{ partial "navbar-version-selector.html" . }}
			</li>
			{{ end }}
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown d-lg-block">
				{{ partial "navbar-lang-selector.html" . }}
			</li>
			{{ end }}
			<div class="headertext">
				<a href="tel:4089434100" title="iXsystems Sales Phoneline"> <i class="fas fa-phone" aria-hidden="true"></i> <b>(408) 943-4100</b></a>&nbsp;
				<a href="https://www.facebook.com/freenascommunity" target="_blank" title="FreeNAS Community (Facebook)"> <i class="fab fa-facebook" aria-hidden="true"></i></a>&nbsp;
				<a href="https://twitter.com/freenas" target="_blank" title="FreeNAS Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>&nbsp;
				<a href="https://www.youtube.com/user/freenasteam?sub_confirmation=1" target="_blank" title="FreeNAS/TrueNAS Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a>&nbsp;
				<a href="https://www.linkedin.com/company/ixsystems/" target="_blank" title="iXsystems LinkedIn"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>&nbsp;
				<a href="https://www.vendop.com/vendor/ixsystems-inc/reviews/" target="_blank" title="iXsystems VendOp Reviews"><b>V</b></a>&nbsp;
				<a href="https://support.ixsystems.com/" target="_blank" title="iXsystems TrueNAS Enterprise Support"><b>Commercial Support</b></a>
			</div>
		</ul>
	</div>
</nav>