{{ if .Path }}
{{ $pathFormatted := replace .Path "\\" "/" }}
{{ $gh_repo := ($.Param "github_repo") }}
{{ $gh_subdir := ($.Param "github_subdir") }}
{{ $gh_project_repo := ($.Param "github_project_repo") }}
{{ $gh_branch := (default "master" ($.Param "github_branch")) }}
{{ if $gh_repo }}
<div class="td-page-meta ml-2 pb-1 pt-2 mb-0">
{{ $editURL := printf "%s/edit/%s/content/%s" $gh_repo $gh_branch $pathFormatted }}
{{ if and ($gh_subdir) (.Site.Language.Lang) }}
{{ $editURL = printf "%s/edit/%s/%s/content/%s/%s" $gh_repo $gh_branch $gh_subdir ($.Site.Language.Lang) $pathFormatted }}
{{ else if .Site.Language.Lang }}
{{ $editURL = printf "%s/edit/%s/content/%s/%s" $gh_repo $gh_branch ($.Site.Language.Lang) $pathFormatted }}
{{ else if $gh_subdir }}
{{ $editURL = printf "%s/edit/%s/%s/content/%s" $gh_repo $gh_branch $gh_subdir $pathFormatted }}
{{ end }}
{{ $issuesURL := printf "%s/issues/new?title=%s" $gh_repo (htmlEscape $.Title )}}
<a href="{{ $editURL }}" target="_blank"><i class="fa fa-edit fa-fw"></i> {{ T "post_edit_this" }}</a>
<a href="https://jira.ixsystems.com/projects/NAS/" target="_blank">Create Documentation Issue</a>
{{ if $gh_project_repo }}
{{ $project_issueURL := printf "%s/issues/new" $gh_project_repo }}
<a href="https://jira.ixsystems.com/projects/NAS/" target="_blank">Create Documentation Issue</a>
{{ end }}
<br>
All contributors welcome!
Learn more about making documentation changes <a href="/hub/contributing/" target="_blank">here!</a><br>
<i class="material-icons" aria-hidden="true" title="RSS">rss_feed</i>RSS Feeds:
<ul style="font-size:85%">
	<li><a href="/hub/index.xml">TrueNAS</a></li>
	<li><a href="/truecommand/index.xml">TrueCommand</a></li>
	<li><a href="/hardware/index.xml">TrueNAS Hardware</a></li>
</ul>
</div>
{{ end }}
{{ end }}