<!-- Add reading time estimate to articles along with last modified date and hash pulled from GitHub -->
<div style="display:flex;text-align:center;align-items:center;justify-content:flex-start;margin:0;padding:0;">
<p class="reading-time" style="margin:0;"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; {{ .ReadingTime }} minute read.</p>

{{ with .GitInfo }}<a class="reading-time" style="flex-grow:100;text-align:right;" title="{{ .Subject }} ({{ .AbbreviatedHash }})" href="{{ $.Site.Params.github_repo }}/commit/{{ .Hash }}">{{ end }}Last Modified {{ .Lastmod.Format "2006-01-02 15:04 MST" }}</a>
</div>