{{ $currentTags := .Params.tags }}
{{ $currentBook := .Params.book }}
{{ $currentVolume := .Params.volume }}
{{ $relatedContent := where site.Pages "Params.tags" "intersect" $currentTags }}

{{ $bookVolumes := dict
  "SCALETutorials"  "SCALE"
  "SCALEUIReference" "SCALE"
  "SCALECLIReference" "SCALE"
  "SCALEGettingStarted" "SCALE"
  "COREGettingStarted" "CORE"
  "CORETutorials" "CORE"
  "UIReference" "CORE"
  "TrueCommand" "TrueCommand, References, Solutions"
  "References" "References, CORE, SCALE"
  "Contributing" "Contributing"
  "Solutions" "Solutions, CORE, SCALE"
}}

{{ $bookTitle := dict
  "SCALETutorials" "SCALE Tutorials"
  "SCALEUIReference" "SCALE UI Reference"
  "SCALECLIReference" "SCALE CLI Reference"
  "SCALEGettingStarted" "Getting Started with SCALE"
  "COREGettingStarted" "Getting Started with CORE"
  "CORETutorials" "CORE Tutorials"
  "UIReference" "CORE UI Reference"
  "TrueCommand" "TrueCommand"
  "References" "General Reference"
  "Contributing" "Contributing"
  "Solutions" "Solutions"
}}

{{ $bookOrder := slice
  "SCALEGettingStarted"
  "SCALETutorials"
  "SCALEUIReference"
  "SCALECLIReference"
  "COREGettingStarted"
  "CORETutorials"
  "UIReference"
  "TrueCommand"
  "References"
  "Contributing"
  "Solutions"
}}

{{ $noContentFound := true }}

<style>
  .columns {
    display: flex;
    flex-wrap: wrap;
  }

  .column {
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media screen and (max-width: 800px) {
    .columns {
      flex-direction: column;
    }
    .column {
      width: 100%;
    }
  }
</style>

<h2>Related Content</h2>
<div class="columns">
  {{ $columnCount := 0 }}
  {{ range $bookOrder }}
    {{ $book := . }}
    {{ $title := index $bookTitle $book }}
    {{ with index $bookVolumes $book }}
      {{ with index $bookVolumes $book }}
        {{ $volumes := split . ", " }}
        {{ if in $volumes $currentVolume }}
          {{ with where $relatedContent "Params.book" $book }}
            {{ $count := 0 }}
            {{ if gt (len .) 0 }}
              {{ $noContentFound = false }}
              {{ if le $columnCount 3 }}
                <div class="column">
                  <h3>{{ $title }}</h3>
                  <ul>
                    {{ range . }}
                      {{ if lt $count 8 }}
                        <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ $count = add $count 1 }}
                      {{ end }}
                    {{ end }}
                  </ul>
                </div>
                {{ $columnCount = add $columnCount 1 }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
</div>

{{ if $noContentFound }}
  <p>No related content found.</p>
{{ end }}