<header class="gdoc-header" id="TrueNASHeader">
	<div class="container iconsbar">
		<a href="https://www.ixsystems.com/" targe="_blank" title="iXsystems"><img class="ubermenu-image ubermenu-image-size-full" src='/ixsystems_logo_130_30.svg' width="auto" height="20px" style="float:left">
        <a href="https://www.truenas.com/get-quote/" >Get a Quote &nbsp;&nbsp;<i class="ubermenu-icon fas fa-phone" title="Phone"></i>&nbsp;&nbsp;(408) 943-4100</a>&nbsp;&nbsp;
        <a href="https://www.facebook.com/truenascommunity" target="_blank" title="TrueNAS Community (Facebook)"style="padding-right:.5rem"><i class="ubermenu-icon fab fa-facebook" title="Facebook"></i></a>
        <a href="https://twitter.com/TrueNAS" target="_blank" title="TrueNAS X (formerly Twitter)"style="padding-right:.5rem;vertical-align:middle;"><span class="iconify" data-icon="akar-icons:x-fill" title="TrueNAS X (Formerly Twitter)" style="vertical-align:middle;"></span></a>
        <a href="https://www.youtube.com/user/freenasteam?sub_confirmation=1" target="_blank" title="TrueNAS Youtube"style="padding-right:.5rem"><i class="ubermenu-icon fab fa-youtube" title="Youtube"></i></a>
        <a href="https://www.linkedin.com/company/ixsystems/" target="_blank" title="iXsystems LinkedIn"style="padding-right:.5rem"><i class="ubermenu-icon fab fa-linkedin-in" title="Linkedin"></i></a>
        <a href="https://discord.com/invite/Q3St5fPETd" target="_blank" title="TrueNAS Discord"style="padding-right:.5rem"><img src="/favicon/Discord-Logo-White.png" width="15" height="17" alt="TrueNAS Discord"></a>
        <a href="https://www.github.com/truenas/" target="_blank" title="TrueNAS GitHub"style="padding-right:.5rem"><i class="ubermenu-icon fab fa-github" title="TrueNAS GitHub"></i></a>
        <a href="https://www.vendop.com/vendor/ixsystems-inc/reviews/" target="_blank" title="iXsystems VendOp Reviews"style="padding-right:.5rem"><img class="ubermenu-image ubermenu-image-size-full" src='/favicon/VendOp_Icon_15x15px.png' width="15" height="15" alt="VendOp_Icon_15x15px"></a>
        <a href="https://www.ixsystems.com/support/" target="_blank" title="iXsystems TrueNAS Enterprise Support">Enterprise Support</a>
	</div>
	
	
  <div class="container linksrow" style="padding-top:.5rem">
		<div class="truenas-mediamenu">
            <button class="truenas-menubutton"><img src="/favicon/TN-favicon-32x32.png"> TrueNAS Directory <i class="fa fa-angle-down"></i></button>
            <div class="truenas-menudropdown">
                <a href="https://www.truenas.com">TrueNAS.com</a>
                <a href="https://www.truenas.com/help-me-choose/">Software</a>
                <a href="https://www.truenas.com/systems-overview/">Systems</a>
                <a href="https://www.ixsystems.com">Company</a>
                <a href="https://forums.truenas.com/">Community</a>
                <a href="https://security.truenas.com">Security</a>
                <a href="https://portal.ixsystems.com/portal/login/index.php">iX Portal</a>
                <a href="https://www.truenas.com/download-truenas-core/">Download</a>
            </div>
        </div>
	    <div class="container truerow">
			<a class="gdoc-brand gdoc-header__link" href="https://www.truenas.com">
				<span class="flex align-center">
				<img class="gdoc-brand__img" style="display:flex;float:left" src="{{ (default "brand.svg" .Root.Site.Params.GeekdocLogo) | relURL }}" alt=""/>
				<span class="gdoc-brand__title">{{ .Root.Site.Title }}</span>
				</span>
			</a>
			<div class="truenas-menubar" style="display:flex;float:right">
                <div class="truenas-menuitem">
                    <button class="truenas-menubutton">Software <i class="fa fa-angle-down"></i></button>
                    <div class="truenas-menudropdown">
                    <a href="https://www.truenas.com/truenas-enterprise/"><img src="/favicon/enterprise-white.png" style="width:2.5rem;padding-right:1rem">TrueNAS Enterprise</a>
                    <a href="https://www.truenas.com/truenas-scale/"><img src="/favicon/scale-white.png" style="width:2.5rem;padding-right:1rem">TrueNAS SCALE</a>
                    <a href="https://www.truenas.com/truenas-core/"><img src="/favicon/core-white.png" style="width:2.5rem;padding-right:1rem">TrueNAS CORE</a>
                    <a href="https://www.truenas.com/compare/"><img src="/favicon/compare-editions.png" style="width:2.5rem;padding-right:1rem">Compare Editions</a>
					          <a href="https://www.truenas.com/truecommand/"><img src="/favicon/tc-white.png" style="width:2.5rem;padding-right:1rem">TrueCommand</a>
					          <a href="https://www.truenas.com/software-status/"><img src="/favicon/software-status.png" style="width:2.5rem;padding-right:1rem">Software Status</a>
                    <a href="https://www.truenas.com/freenas/"><img src="/favicon/freenas-white.png" style="width:2.5rem;padding-right:1rem">FreeNAS</a>
                    </div>
                </div>
                <div class="truenas-menuitem">
                    <button class="truenas-menubutton">Systems <i class="fa fa-angle-down"></i></button>
                    <div class="truenas-menudropdown">
                        <a href="https://www.truenas.com/systems-overview/"><img src="/favicon/overview-icon.png" style="width:2.5rem;padding-right:1rem">Compare Systems</a>
						            <a href="https://www.truenas.com/f-series/"><img src="/favicon/f-series.png" style="width:2.5rem;padding-right:1rem">F-Series</a>
                        <a href="https://www.truenas.com/m-series/"><img src="/favicon/m-series.png" style="width:2.5rem;padding-right:1rem">M-Series</a>
                        <a href="https://www.truenas.com/h-series/"><img src="/favicon/h-series.png" style="width:2.5rem;padding-right:1rem">H-Series</a>
                        <a href="https://www.truenas.com/r-series/"><img src="/favicon/rseries.png" style="width:2.5rem;padding-right:1rem">R-Series</a>
                        <a href="https://www.truenas.com/truenas-mini/"><img src="/favicon/minis.png" style="width:2.5rem;padding-right:1rem">Mini Series</a>
                    </div>
                </div>
                <div class="truenas-menuitem">
                    <button class="truenas-menubutton">Company <i class="fa fa-angle-down"></i></button>
                    <div class="truenas-menudropdown">
                        <a href="https://www.ixsystems.com/about-us/">About iXsystems</a>
						<a href="https://www.truenas.com/clients/">Our Clients</a>
						<a href="https://www.truenas.com/reviews/">Reviews</a>
						<a href="https://www.truenas.com/careers/">Careers</a>
						<a href="https://www.ixsystems.com/awards/">Awards</a>
						<a href="https://www.ixsystems.com/newsroom/">iX Blog & News</a>
						<a href="https://www.ixsystems.com">iX Website</a>
						<a href="https://www.truenas.com/contact-us/">Contact Us</a>
                    </div>
                </div>
                <div class="truenas-menuitem">
                    <button class="truenas-menubutton">Community <i class="fa fa-angle-down"></i></button>
                    <div class="truenas-menudropdown">
                        <a href="https://forums.truenas.com/">Community Forum</a>
						<a href="https://discord.com/invite/Q3St5fPETd">Discord</a>
						<a href="https://www.github.com/truenas">TrueNAS GitHub</a>
                        <a href="https://www.truenasmerch.com">TrueNAS Merch Store</a>
                    </div>
                </div>
                <div class="truenas-menuitem">
                    <button class="truenas-menubutton">Solutions <i class="fa fa-angle-down"></i></button>
                    <div class="truenas-menudropdown">
                        <div class="nested-menubutton">Use Cases <i class="fa fa-angle-right" style="padding-left:.5rem;"></i>
                            <a href="https://www.truenas.com/analytics/">Analytics</a>
							<a href="https://www.truenas.com/backup/">Backup and Archival</a>
                            <a href="https://www.truenas.com/cloud/">Cloud</a>
							<a href="https://www.truenas.com/data-mobility/">Data Mobility</a>
							<a href="https://www.truenas.com/file-sharing/">File Sharing</a>
							<a href="https://www.truenas.com/ix-storj/">iX Storj</a>
                            <a href="https://www.truenas.com/media-creation/">Media Creation</a>
							<a href="https://www.truenas.com/video-surveillance/">Surveillance</a>
                            <a href="https://www.truenas.com/virtualization/">Virtualization</a>
                        </div>
                        <div class="nested-menubutton">Industry <i class="fa fa-angle-right" style="padding-left:.5rem;"></i>
                            <a href="https://www.truenas.com/automotive/">Automotive</a>
							<a href="https://www.truenas.com/education/">Education</a>
							<a href="https://www.truenas.com/gaming/">Gaming</a>
                            <a href="https://www.truenas.com/government/">Government</a>
                            <a href="https://www.truenas.com/healthcare/">Healthcare</a>
							<a href="https://www.truenas.com/managed-service-provider/">MSP</a>
							<a href="https://www.truenas.com/manufacturing/">Manufacturing</a>
                            <a href="https://www.truenas.com/ai/">Research & AI</a>
                            <a href="https://www.truenas.com/media-creation/">Media & Entertainment</a>
                        </div>
                    </div>
                </div>
                <div class="truenas-menuitem">
                    <button class="truenas-menubutton">Resources <i class="fa fa-angle-down"></i></button>
                    <div class="truenas-menudropdown" id="resources-box">
						<div class="linkscolumn">
							<a href="https://www.truenas.com/docs/">Documentation</a>
							<a href="https://forums.truenas.com/">Community Support</a>
							<a href="https://www.ixsystems.com/support">Enterprise Support</a>
							<a href="https://www.truenas.com/apps/">Plugins & Apps</a>
							<a href="https://security.truenas.com">TrueNAS Security</a>
							<a href="https://www.truenas.com/faq/">FAQ</a>
              <a href="https://www.truenas.com/zfs/">ZFS Overview</a>
						</div>
						<div class="linkscolumn">
							<a href="https://www.truenas.com/blog/">TrueNAS Blog</a>
							<a href="https://www.truenas.com/solution-guides/">Solution Guides</a>
							<a href="https://www.truenas.com/datasheets/">Datasheets</a>
							<a href="https://www.truenas.com/case-studies/">Case Studies</a>
							<a href="https://www.truenas.com/videos/">Videos</a>
							<a href="https://portal.ixsystems.com/portal/signin/">TrueCommand Cloud</a>
						</div>
                    </div>
                </div>
                <div class="truenas-menuitem">
                    <button class="truenas-downloadbutton">Get TrueNAS <i class="fa fa-angle-down"></i></button>
		            <div class="truenasdownload-menudropdown">
                        <a href="https://www.truenas.com/download-truenas-scale/"><img src="/favicon/scale-icon.png" style="width:2.5rem;padding-right:1rem">Download TrueNAS SCALE</a>
                        <a href="https://www.truenas.com/download-tn-core/"><img src="/favicon/core-icon.png" style="width:2.5rem;padding-right:1rem">Download TrueNAS CORE</a>
                        <a href="https://www.truenas.com/truenas-enterprise/"><img src="/favicon/enterprise-icon.png" style="width:2.5rem;padding-right:1rem">Get TrueNAS Enterprise</a>
						<a href="https://www.truenas.com/compare/"><img src="/favicon/compare-editions.png" style="width:2.5rem;padding-right:1rem">Compare TrueNAS Editions</a>
						<a href="https://www.truenas.com/get-quote/"><img src="/favicon/phone_menu_25_sq.webp" style="width:2.5rem;padding-right:1rem">Contact an Enterprise Specialist</a>
                    </div>
                </div>
			</div>
		</div>
</header>

<nav id="sitenav">
    {{ partial "docs-nav" }}
    {{ if .MenuEnabled }}
    <label for="menu-control" class="gdoc-nav__control" id="leftnavbutton" tabindex="0" style="padding:0 1rem 0 1rem;">
        <svg class="gdoc-icon gdoc_menu">
            <title>{{ i18n "button_nav_open" }}</title>
            <use xlink:href="#gdoc_menu"></use>
        </svg>
        <svg class="gdoc-icon gdoc_arrow_back">
        <title>{{ i18n "button_nav_close" }}</title>
        <use xlink:href="#gdoc_arrow_back"></use>
        </svg>
    </label>
    {{ end }}
    <label for="sidebar-right__control" class="sidebar-right__control" id="rightnavbutton" tabindex="0">
        <svg class="gdoc-icon gdoc_path">
            <title>{{ i18n "button_toc_open" }}</title>
            <use xlink:href="#gdoc_path"></use>
        </svg>
    </label>
    </nav>
    
<!-- Make stickymenu stay on the top of the page when the user scrolls -->
<script>
var options = {
  root: null, // Use the viewport as the root
  rootMargin: "0px",
  threshold: 0, // When 0% of the element is visible
};

var observer = new IntersectionObserver(callback, options);
var iconsbar = document.querySelector(".iconsbar");
var nav = document.getElementById("sitenav");
var isSticky = false; // Track if the element is sticky

observer.observe(iconsbar);

function callback(entries, observer) {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      // The .iconsbar element is in view, so remove sticky
      if (isSticky) {
		nav.classList.remove("sticky");
        isSticky = false;
      }
    } else {
      // The .iconsbar element is out of view, so make it sticky
      if (!isSticky) {
        nav.classList.add("sticky");
        isSticky = true;
      }
    }
  });
}
// Add behavior for right side toc panel to slide into view on small screens
document.addEventListener('DOMContentLoaded', function() {
    var sidebarRight = document.querySelector('.sidebar-right');
    var sidebarControl = document.getElementById('sidebar-right__control');
    var menuControl = document.getElementById('menu-control');
    var gdocPage = document.querySelector('.gdoc-page');
    var gdocNav = document.querySelector('.gdoc-nav');

    sidebarControl.addEventListener('click', function() {
        if (!sidebarControl.checked) {
            menuControl.checked = false;
            sidebarRight.style.transition = 'transform 0.3s ease';
            gdocPage.style.transition = 'margin-right 0.3s ease, opacity 0.3s ease';

            sidebarRight.style.transform = 'translateX(100%)';
            gdocPage.style.opacity = '1';
            gdocPage.style.marginRight = '0'; // Set margin-right to fill the space
            sidebarRight.style.display = 'none'; // Hide the sidebar
        } else {
            sidebarRight.style.transition = 'transform 0.3s ease';
            sidebarRight.style.transform = 'translateX(-3rem)';
            sidebarRight.style.display = 'block'; // Show the sidebar
        }
    });

    menuControl.addEventListener('click', function() {
        if (menuControl.checked) {
            gdocPage.style.transition = 'opacity 0.3s ease';

            if (!sidebarControl.checked) {
                gdocPage.style.opacity = '0.25';
            } else {
                sidebarRight.style.transition = 'transform 0.3s ease';
                gdocPage.style.opacity = '0.25';
                sidebarRight.style.transform = 'translateX(100%)';
                sidebarRight.style.display = 'none'; // Hide the sidebar
            }
			sidebarControl.checked = false;
        } else {
            gdocPage.style.transition = 'opacity 0.3s ease';
            gdocPage.style.opacity = '1';
        }
    });
});
</script>
<!-- End sticky main_navbar -->
