<!-- GeekDoc modified to mimic truenas.com and incorporate documentation license-->
<footer class="container gdoc-footer">
    <div class="container flex flex-wrap">
        <span class="gdoc-footer__item">
        © iXsystems, Inc. <script>document.write(new Date().getFullYear())</script>&nbsp; All rights reserved.
        </span>
        <span class="gdoc-footer__item">
        Documentation distributed under <a href="https://github.com/freenas/documentation/blob/master/LICENSE.md" class="gdoc-footer__link">CC BY NC SA 4.0</a>.
        </span>
        {{ with .Site.Params.GeekdocLegalNotice }}
        <span class="gdoc-footer__item">
            <a href="{{ . | absURL }}" class="gdoc-footer__link">Trademarks</a>
        </span>
        {{ end }}
        {{ with .Site.Params.GeekdocPrivacyPolicy }}
        <span class="gdoc-footer__item">
            <a href="{{ . | absURL }}" class="gdoc-footer__link">Privacy Policy</a>
        </span>
        {{ end }}
    </div>
</footer>
