
<!-- Check if we were passed the ?showsearch=true and need to display docsbot-->
<script defer>
    // Function to get the value of a query parameter by name
    function getSearchQueryParam(param) {
        const urlParams = new URLSearchParams(window.location.search);
        return urlParams.get(param);
    }

    // Event listener after DocsBot Init
    document.addEventListener('DOMContentLoaded', function() {
      const paramValue = getSearchQueryParam('showsearch');
      if (paramValue) {
        setTimeout(function() {
            // Find the button element
            var aibutton = document.getElementById("chatbot-button-icon");

            // Check if the button exists
            if (aibutton) {
              // Simulate a click on the button
              aibutton.click();
            }
        }, 1000);
      }
    })
</script>

<!-- GeekDoc modified to mimic truenas.com and incorporate documentation license-->
<footer class="container gdoc-footer">
	<div class="container flex flex-wrap">
			<span class="gdoc-footer__item" >
			© iXsystems, Inc. <script>document.write(new Date().getFullYear())</script>&nbsp; All rights reserved. |
			</span>
	<span class="gdoc-footer__item">
	<a href="https://www.truenas.com/careers/" class="gdoc-footer__link">Careers</a> |
	</span>
	{{ with .Site.Params.GeekdocPrivacyPolicy }}
			<span class="gdoc-footer__item">
					<a href="{{ . | absURL }}" class="gdoc-footer__link">Privacy Policy</a> |
			</span>
			{{ end }}
    <span class="gdoc-footer__item">
        Documentation distributed under <a href="https://github.com/freenas/documentation/blob/master/LICENSE.md" class="gdoc-footer__link">CC BY NC SA 4.0</a>.
        </span>            

	<span class="gdoc-footer__item" style="flex:1;display:flex;justify-content:flex-end;align-items:flex-end;">
		<a href="https://www.linkedin.com/company/ixsystems/" target="_blank" title="iXsystems LinkedIn"style="color:white;padding-left:3rem;padding-right:1rem;display:flex;align-self:center;"><i class="ubermenu-icon fab fa-linkedin-in" title="Linkedin"></i></a>
		<a href="https://www.youtube.com/user/freenasteam?sub_confirmation=1" target="_blank" title="TrueNAS Youtube"style="color:white;padding-right:1rem;display:flex;align-self:center;"><i class="ubermenu-icon fab fa-youtube" title="Youtube"></i></a>
		<a href="https://twitter.com/TrueNAS" target="_blank" title="TrueNAS X (Formerly Twitter)"style="color:white;padding-right:1rem;display:flex;align-self:center;"><span class="iconify" data-icon="akar-icons:x-fill" title="TrueNAS X (Formerly Twitter)"></span></a>
		<a href="https://www.facebook.com/truenascommunity" target="_blank" title="TrueNAS Community (Facebook)"style="color:white;padding-right:1rem;display:flex;align-self:center;"><i class="ubermenu-icon fab fa-facebook" title="Facebook"></i></a>
		<a href="https://discord.com/invite/Q3St5fPETd" target="_blank" title="TrueNAS Discord"style="color:white;padding-right:1rem;display:flex;align-self:center;"><img src="/favicon/Discord-Logo-White.png" width="15" height="17" alt="TrueNAS Discord"></a>
		<a href="https://github.com/truenas" target="_blank" title="TrueNAS Github"style="color:white;padding-right:1rem;display:flex;align-self:center;"><img src="/favicon/github.png" width="15" height="17" alt="TrueNAS Discord"></a>
		<a href="https://www.vendop.com/vendor/ixsystems-inc/reviews/" target="_blank" title="iXsystems VendOp Reviews" style="display:flex;align-self:center;padding-right:3rem;"><img class="ubermenu-image ubermenu-image-size-full" src='/favicon/VendOp_Icon_15x15px.png' width="15" height="15" alt="VendOp_Icon_15x15px"></a>
	</span>
    </div>
    <div class="container flex flex-wrap">
	{{ with .Site.Params.GeekdocLegalNotice }}
	<span class="gdoc-footer__item">
		All trademarks appearing herein are subject to the terms of the 
		<a href="https://www.ixsystems.com/trademarks/" class="gdoc-footer__link">iXsystems, Inc. Trademark Policy</a>
	</span>
	{{ end }}
	</div>
</footer>
