<nav class="toc-panel">
  {{- $tocLevels := default (default 1 .Site.Params.GeekdocToC) .Page.Params.GeekdocToC }}
  <b>Page Sections:</b>
  {{- if and $tocLevels .Page.TableOfContents -}}
    <div class="gdoc-toc gdoc-toc__level--{{ $tocLevels }}">
      {{ .Page.TableOfContents | replaceRE "<ul>" "<ul class=\"toc-list\">" | safeHTML }}
    </div>
  {{- end -}}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var tocLinks = document.querySelectorAll('.toc-list a');
      var sidebarRight = document.querySelector('.sidebar-right');
      var gdocPage = document.querySelector('.gdoc-page');

      if (tocLinks.length <= 1) {
        sidebarRight.style.display = 'none';
        gdocPage.style.marginRight = '0';
      }

      tocLinks.forEach(function(link) {
        link.addEventListener('click', function(event) {
          event.preventDefault();

          var targetId = link.getAttribute('href').substring(1);
          var targetElement = document.getElementById(targetId);

          if (targetElement) {
            window.scrollTo({
              top: targetElement.offsetTop - 16,
              behavior: 'smooth'
            });
          }
        });
      });
    });
  </script>
</nav>
