<nav class="toc-panel" style="display: none;">
  <b>Page Sections:</b>
  <ul class="toc-list" style="list-style: none; padding-left: 0;">
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var tocList = document.querySelector('.toc-list');
        var headers = document.querySelectorAll('.gdoc-page h2, .gdoc-page h3, .gdoc-page h4');
        
        headers.forEach(function(header) {
          var level = header.tagName.toLowerCase().replace('h', '');
          var text = header.innerText;
          var anchor = text.toLowerCase().replace(/\s/g, '-');

          var tocItem = document.createElement('li');
          var tocLink = document.createElement('a');
          tocLink.textContent = text;
          tocLink.href = '#' + anchor;

          tocItem.appendChild(tocLink);
          tocList.appendChild(tocItem);
          header.id = anchor;

          tocItem.id = 'toc-' + level + '-' + anchor; // Unique ID based on header level
          tocItem.style.marginLeft = (level === '3') ? '1em' : (level === '4') ? '2em' : '0';
          tocItem.style.fontSize = (level === '3') ? '13px' : (level === '4') ? '12ox' : 'inherit';
        });
		var tocPanel = document.querySelector('.toc-panel');
        if (document.querySelectorAll('.toc-list li').length > 1) {
          tocPanel.style.display = 'block';
        }
      });
    </script>
  </ul>
</nav>
