<header class="gdoc-header" id="TrueNASHeader">
    <div class="container linksrow">
          <div class="container truerow">
              <a class="gdoc-brand gdoc-header__link" href="https://www.truenas.com">
                  <span class="flex align-center">
                  <img class="gdoc-brand__img" style="display:flex;float:left" src="/images/TN_Open_Enterprise_Storage_Blue_Version-1.png" alt="TrueNAS"/>
                  <!--<span class="gdoc-brand__title">{{ .Site.Title }}</span>-->
                  </span>
              </a>
              <div class="truenas-menubar" style="display:flex;float:right">
                  <!-- Mobile hamburger menu -->
                  <div class="truenas-hamburger-menu">
                      <button class="truenas-hamburger-button">
                          <span class="hamburger-bar"></span>
                          <span class="hamburger-bar"></span>
                          <span class="hamburger-bar"></span>
                      </button>
                      <div class="truenas-mobile-dropdown">
                          <div class="mobile-menu-columns">
                              <!-- Left Column -->
                              <div class="mobile-menu-column">
                                  <div class="mobile-menu-section" data-menu="products">
                                      <span class="mobile-menu-title">Products <i class="fa fa-angle-down"></i></span>
                                  </div>
                                  <div class="mobile-menu-section" data-menu="support">
                                      <span class="mobile-menu-title">Support & Resources <i class="fa fa-angle-down"></i></span>
                                  </div>
                              </div>
                              <!-- Right Column -->
                              <div class="mobile-menu-column">
                                  <div class="mobile-menu-section" data-menu="solutions">
                                      <span class="mobile-menu-title">Solutions <i class="fa fa-angle-down"></i></span>
                                  </div>
                                  <div class="mobile-menu-section" data-menu="company">
                                      <span class="mobile-menu-title">Company <i class="fa fa-angle-down"></i></span>
                                  </div>
                              </div>
                          </div>
                          <button class="mobile-menu-close">Close</button>
                      </div>
                  </div>
                  <div class="truenas-menu-buttons-group">
                  <div class="truenas-menuitem" id="desktop-products">
                      <button class="truenas-menubutton">Products <i class="fa fa-angle-down"></i></button>
                      <div class="truenas-menudropdown">
                          <div class="truenas-menuitem-columns">
                              <!-- Left Column -->
                              <div class="truenas-menuitem-column">
                                  <a href="https://www.truenas.com/f-series/" class="truenas-menuitem-link">
                                      <img src="/favicon/f-series.png" alt="F-Series">
                                      <div class="truenas-menuitem-text">
                                          <b>F-Series</b>
                                          <p>High Performance NVME</p>
                                      </div>
                                  </a>
                                  <a href="https://www.truenas.com/h-series/" class="truenas-menuitem-link">
                                      <img src="/favicon/h-series.png" alt="H-Series">
                                      <div class="truenas-menuitem-text">
                                          <b>H-Series</b>
                                          <p>Versatility and Power Efficiency</p>
                                      </div>
                                  </a>
                                  <a href="https://www.truenas.com/truenas-mini/" class="truenas-menuitem-link">
                                      <img src="/favicon/minis.png" alt="Mini Series">
                                      <div class="truenas-menuitem-text">
                                          <b>Mini Series</b>
                                          <p>Edge and Branch Office</p>
                                      </div>
                                  </a>
                              </div>
                              <!-- Right Column -->
                              <div class="truenas-menuitem-column">
                                  <a href="https://www.truenas.com/m-series/" class="truenas-menuitem-link">
                                      <img src="/favicon/m-series.png" alt="M-Series">
                                      <div class="truenas-menuitem-text">
                                          <b>M-Series</b>
                                          <p>High Capacity All-Flash or Hybrid</p>
                                      </div>
                                  </a>
                                  <a href="https://www.truenas.com/r-series/" class="truenas-menuitem-link">
                                      <img src="/favicon/rseries.png" alt="R-Series">
                                      <div class="truenas-menuitem-text">
                                          <b>R-Series</b>
                                          <p>Single Controller Appliances</p>
                                      </div>
                                  </a>
                              </div>
                          </div>
                          <!-- Horizontal Rule -->
                          <hr class="truenas-menudropdown-hr">
                          <!-- Additional Items Below Horizontal Rule -->
                          <div class="truenas-edition-buttons">
                              <a href="https://www.truenas.com/truenas-enterprise/" class="truenas-edition-button">
                                  <img src="/images/truenas-enterprise-logo-white.svg" width="100px" alt="TrueNAS Enterprise">
                                  <div class="edition-text">
                                      <div class="edition-title">TrueNAS Enterprise</div>
                                      <div class="edition-description">Mission Critical Storage. 24×7 Enterprise Support</div>
                                  </div>
                              </a>
                              <a href="https://www.truenas.com/truenas-community-edition/" class="truenas-edition-button">
                                  <img src="/images/truenas-community-edition-logo-white.png" width="100px" alt="TrueNAS Community Edition">
                                  <div class="edition-text">
                                      <div class="edition-title">TrueNAS Community Edition</div>
                                      <div class="edition-description">Test Drive TrueNAS in Your Environment</div>
                                  </div>
                              </a>
                          </div>
                      </div>
                  </div>
                  <div class="truenas-menuitem" id="desktop-solutions">
                      <button class="truenas-menubutton">Solutions <i class="fa fa-angle-down"></i></button>
                      <div class="truenas-menudropdown">
                          <div class="truenas-menuitem-columns">
                              <!-- Left Column -->
                              <div class="truenas-menuitem-column">
                                  <h3 class="truenas-column-header">Industry</h3>
                                  <hr class="truenas-menudropdown-hr">
                                  <a href="https://www.truenas.com/audio/">Audio</a>
                                  <a href="https://www.truenas.com/automotive/">Automotive</a>
                                  <a href="https://www.truenas.com/broadcasting/">Broadcasting</a>
                                  <a href="https://www.truenas.com/education/">Education</a>
                                  <a href="https://www.truenas.com/us-public-sector/">US Public Sector</a>
                                  <a href="https://www.truenas.com/gaming/">Gaming</a>
                                  <a href="https://www.truenas.com/healthcare/">Healthcare</a>
                                  <a href="https://www.truenas.com/managed-service-provider/">MSP</a>
                                  <a href="https://www.truenas.com/manufacturing/">Manufacturing</a>
                                  <a href="https://www.truenas.com/ai/">Research&nbsp;& AI</a>
                                  <a href="https://www.truenas.com/media-creation/">Media&nbsp;& Entertainment</a>
                              </div>
                              <!-- Right Column -->
                              <div class="truenas-menuitem-column">
                                  <h3 class="truenas-column-header">Use Cases</h3>
                                  <hr class="truenas-menudropdown-hr">
                                  <a href="https://www.truenas.com/analytics/">Analytics</a>
                                  <a href="https://www.truenas.com/backup/">Backup&nbsp;& Archival</a>
                                  <a href="https://www.truenas.com/cloud/">Cloud</a>
                                  <a href="https://www.truenas.com/data-mobility/">Data Mobility</a>
                                  <a href="https://www.truenas.com/file-sharing/">File Sharing</a>
                                  <a href="https://www.truenas.com/truecloud-backup/">TrueCloud Backup</a>
                                  <a href="https://www.truenas.com/media-creation/">Media&nbsp;& Entertainment</a>
                                  <a href="https://www.truenas.com/cctv/">Surveillance/CCTV</a>
                                  <a href="https://www.truenas.com/veeam/">Veeam Backup</a>
                                  <a href="https://www.truenas.com/virtualization/">Virtualization</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="truenas-menuitem" id="desktop-support">
                      <button class="truenas-menubutton">Support&nbsp;& Resources <i class="fa fa-angle-down"></i></button>
                      <div class="truenas-menudropdown truenas-menudropdown-wide">
                          <div class="truenas-menuitem-columns">
                              <!-- Left Column - Support -->
                              <div class="truenas-menuitem-column">
                                  <h3 class="truenas-column-header">Support</h3>
                                  <hr class="truenas-menudropdown-hr">
                                  <a href="https://www.truenas.com/support/" class="truenas-menuitem-link">
                                      <div class="truenas-menuitem-text">
                                          <b>Enterprise Support</b>
                                          <p>For customers with active support contracts</p>
                                      </div>
                                  </a>
                                  <a href="https://forums.truenas.com/" class="truenas-menuitem-link">
                                      <div class="truenas-menuitem-text">
                                          <b>Community Support</b>
                                          <p>For peer-to-peer, forum support</p>
                                      </div>
                                  </a>
                              </div>
                              <!-- Middle Column - Resources -->
                              <div class="truenas-menuitem-column">
                                  <h3 class="truenas-column-header">Resources</h3>
                                  <hr class="truenas-menudropdown-hr">
                                  <a href="https://www.truenas.com/case-studies/">Case Studies</a>
                                  <a href="https://www.truenas.com/datasheets/">Datasheets</a>
                                  <a href="https://www.truenas.com/docs/">Documentation</a>
                                  <a href="https://api.truenas.com/">TrueNAS API</a>
                                  <a href="https://www.truenas.com/faq/">FAQ</a>
                                  <a href="https://www.truenas.com/apps/">Apps</a>
                                  <a href="https://www.truenas.com/blog/">TrueNAS Blogs</a>
                                  <a href="https://www.truenas.com/software-status/">Software Status</a>
                                  <a href="https://security.truenas.com/">TrueNAS Security</a>
                                  <a href="https://www.truenas.com/solution-guides/">Solution Guides</a>
                                  <a href="https://www.truenas.com/videos/">Videos</a>
                                  <a href="https://portal.ixsystems.com/">TrueCommand Cloud</a>
                                  <a href="https://www.truenas.com/reseller-network/">Reseller Network</a>
                                  <a href="https://www.truenas.com/zfs/">ZFS Overview</a>
                              </div>
                              <!-- Right Column - Community -->
                              <div class="truenas-menuitem-column">
                                  <h3 class="truenas-column-header">Community</h3>
                                  <hr class="truenas-menudropdown-hr">
                                  <a href="https://www.truenas.com/truenas-community-edition/">TrueNAS Community Edition</a>
                                  <a href="https://forums.truenas.com/">Community Forum</a>
                                  <a href="https://discord.com/invite/truenas">Discord</a>
                                  <a href="https://github.com/truenas/">TrueNAS GitHub</a>
                                  <a href="https://www.truenasmerch.com/">TrueNAS Merch Store</a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="truenas-menuitem" id="desktop-company">
                      <button class="truenas-menubutton">Company <i class="fa fa-angle-down"></i></button>
                      <div class="truenas-menudropdown">
                          <a href="https://www.truenas.com/about-us/">About TrueNAS</a>
                          <a href="https://www.truenas.com/truenas-awards/">Awards</a>
                          <a href="https://www.truenas.com/careers/">Careers</a>
                          <a href="https://www.truenas.com/contact-us/">Contact Us</a>
                          <a href="https://www.truenas.com/newsroom/">Newsroom</a>
                          <a href="https://www.truenas.com/clients/">Our Clients</a>
                          <a href="https://www.truenas.com/reviews/">Reviews</a>
                      </div>
                  </div>
                  </div>
                  <div class="truenas-menuitem">
                      <a href="https://www.truenas.com/get-quote/">
                          <button class="truenas-quote-button">Get A Quote</button>
                      </a>
                  </div>
              </div>
          </div>
          <!-- Include JavaScript for mobile menu -->
          {{ partial "truenas-scripts.html" . }}
  </header>
