+++
title = "iXsystems™ Documentation"
linkTitle = "iXsystems™ docs"

+++

<!-------------------------cover block--------------------------------->
{{< blocks/cover title="iXsystems™ Documentation: A One Stop Shop for iXsystems™ Docs!" image_anchor="smart" height="min" color="blue" >}}

{{< /blocks/cover >}}

{{< inprog >}}

<!-------------------------1 section block----------------------------->
{{< blocks/section color="primary" title="TrueNAS™" type="section" url="/articles/truenas">}}
TrueNAS comes in a Flash-Assisted Hybrid or All-Flash Array to meet the
needs of any enterprise workload and are powered by flash to turbocharg
application I/O. Both products are flash-powered, based on the world’s\
#1 software-defined storage, FreeNAS, and use OpenZFS. TrueNAS unifies
SAN, NAS, and object protocols into one easy-to-use product. It reduces
TCO with its easy-to-use management interface, award winning support, a\
self-healing file system, non-disruptive capacity and non-disruptive
firmware upgrades, and includes cloud-ready enterprise-grade storage
services that let you build a private cloud instead of using expensive
cloud storage.
{{< /blocks/section >}}

<!-------------------------2 section block----------------------------->
{{< blocks/section color="dark" title="TrueCommand™" type="section" url="/articles/truecommand">}}
TrueCommand™ is a powerful “single pane of glass” iXsystems™ NAS
management application that controls an entire fleet of TrueNAS™ and\
FreeNAS™ systems from a single location. Manage your NAS systems and
datasets 24/7 and with enterprise-grade security.
{{< /blocks/section >}}

<!-------------------------3 section block----------------------------->
{{< blocks/section color="info" title="FreeNAS™" type="section" url="/articles/freenas">}}
For the home and small office we created a desktop solution powered by
FreeNAS that is powerful enough to support your file, block, and object\
needs in a compact and affordable form factor. iXsystems™ provides the
ready-to-deploy FreeNAS™ Mini, which is unmatched by anything in its
class. There’s nothing even close.
{{< /blocks/section >}}


<!-------------------------4 section block----------------------------->
{{< blocks/section >}}
<!-- feature 1
{{% blocks/feature icon="fab fa-app-store-ios" title="Download **from AppStore**" %}}
Get the Goldydocs app!
{{% /blocks/feature %}} -->

<!--feature 2-->
{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/freenas/documentation" url_text="Contribute" %}}
We do a
[Pull Request](https://github.com/freenas/documentation/pulls "Documentation Pull Requests")
contributions workflow on **GitHub**. Contributions are always welcome!
{{% /blocks/feature %}}

<!--feature 3-->
{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/iXsystems" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}

<!--{{< blocks/section >}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}-->
