<script src="//code.jquery.com/jquery-3.5.0.min.js"></script>
<script src="{{ "/js/capacity.js" | relURL }}"></script>

<table class="inputs">
    <tr>
        <td><label for="disks">Total Disks in Pool:</label></td>
        <td><input class="monitor" type="text" id="disks" name="disks" value="24"></td>

        <td><label for="add_disk" id="add_disk">Add Disk (TB):</label></td>
        <td><input class="monitor" type="text" id="add_disk" name="add_disk"></td>
    </tr>

    <tr>
        <td id="add_disk_buttons" colspan="2">
            <button type="button" class="change_disk_qty" id="minus_100">-100</button>
            <button type="button" class="change_disk_qty" id="minus_10">-10</button>
            <button type="button" class="change_disk_qty" id="minus_1">-1</button>
            <button type="button" class="change_disk_qty" id="plus_1">+1</button>
            <button type="button" class="change_disk_qty" id="plus_10">+10</button>
            <button type="button" class="change_disk_qty" id="plus_100">+100</button>
        </td>

        <td id="add_disk_button"><button type="button" id="add_disk">Add Disk</button></td>
        <td id="tb_gb_button"><button type="button" id="tb_gb">TB/GB</button></td>
    </tr>

    <tr>
        <td><label for="min_spares">Minimum Spares:</label></td>
        <td><input class="monitor" type="text" id="min_spares" name="min_spares" value="0"></td>
    </tr>

    <tr>
        <td><label for="use_new_slop">OpenZFS 2.0.7 Slop:</label></td>
        <td><input class="monitor" type="checkbox" id="use_new_slop" name="use_new_slop" checked></td>

        <td><label for="add_vdev_type" id="add_vdev_type">New vdev Type:</label></td>
        <td><select class="monitor" name="add_vdev_type" id="add_vdev_type">
            <option value="mirror">Mirror</option>
            <option value="z1">RAIDZ1</option>
            <option value="z2">RAIDZ2</option>
            <option value="z3">RAIDZ3</option>
            <option value="draid">dRAID</option>
        </select></td>
    </tr>

    <tr id="new_vdev">
        <td><label for="recordsize">ZFS recordsize value:</label></td>
        <td><select class="monitor" name="recordsize" id="recordsize">
            <option value="4">4 KiB</option>
            <option value="8">8 KiB</option>
            <option value="16">16 KiB</option>
            <option value="32">32 KiB</option>
            <option value="64">64 KiB</option>
            <option value="128" selected>128 KiB</option>
            <option value="256">256 KiB</option>
            <option value="512">512 KiB</option>
            <option value="1024">1 MiB</option>
            <option value="2048">2 MiB</option>
            <option value="4096">4 MiB</option>
            <option value="8192">8 MiB</option>
            <option value="16384">16 MiB</option>
        </select></td>

        
        <td><label for="add_vdev" id="add_vdev">New vdev Width:</label></td>
        <td><input class="monitor" type="text" id="add_vdev" name="add_vdev"></td>
        
    </tr>

    <tr>
        <td><label for="ashift">ZFS ashift value:</label></td>
        <td><select class="monitor" name="ashift" id="ashift">
            <option value="9">9</option>
            <option value="12" selected>12</option>
            <option value="13">13</option>
            <option value="14">14</option>
        </select></td>

        <td id="vdev_button" colspan="2"><button type="button" id="add_vdev">Add vdev Layout</button></td>
    </tr>

    <tr>
        <td><label for="swap_size">Disk Swap Size:</label></td>
        <td><select class="monitor" name="swap_size" id="swap_size">
            <option value="0" selected>0 GiB</option>
            <option value="2">2 GiB</option>
            <option value="4">4 GiB</option>
            <option value="8">8 GiB</option>
        </select></td>
    </tr>

    <tr>
        <td><label for="decimal_places">Decimal Places:</label></td>
        <td><select class="monitor" name="decimal_places" id="decimal_places">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="bytes">bytes</option>
        </select></td>
        
        <td><label>Table Data:</label></td>
        <td><input class="monitor" type="radio" id="usable_cap" name="table_data" value="usable_cap" checked>
            <label for="usable_cap">Usable Capacity</label>
        </td>
    </tr>

    <tr>
        <td><label for="show_deflate">Show Deflate Ratio:</label></td>
        <td><input class="monitor" type="checkbox" id="show_deflate" name="show_deflate"></td>

        <td> </td>
        <td><input class="monitor" type="radio" id="efficiency" name="table_data" value="efficiency">
            <label for="efficiency">Capacity Efficiency</label>
        </td>
    </tr>

    <tr>
        <td><label for="show_afr">Show Pool AFR:</label></td>
        <td><input class="monitor" type="checkbox" id="show_afr" name="show_afr"></td>

        <td> </td>
        <td><input class="monitor" type="radio" id="overhead" name="table_data" value="overhead">
            <label for="overhead">ZFS Overhead</label>
        </td>
    </tr>

    <tr>
        <td><label id="disk_afr_label" for="disk_afr">Disk AFR (%):</label></td>
        <td><input class="monitor" type="text" id="disk_afr" name="disk_afr" value="5" disabled></td>
        
        <td> </td>
        <td><input class="monitor" type="radio" id="cap_w_reserve" name="table_data" value="cap_w_reserve">
            <label for="cap_w_reserve">Cap. w/ Reservation</label>
        </td>
    </tr>

    <tr>
        <td><label id="allow_resilver_label" for="allow_resilver">Assume Resilver:</label></td>
        <td><input class="monitor" type="checkbox" id="allow_resilver" name="allow_resilver" disabled checked></td>
        
        <td id="res_label"><label id="reservation" for="reservation">Reservation (%):</label></td>
        <td id="res_input"><input class="monitor" type="text" id="reservation" name="reservation" value="20" disabled></td>
    </tr>

    <tr>
        <td id="resilver_time_label" style="vertical-align: top;"><label for="resilver_time">Resilver Time (hrs):</label></td>
        <td id="resilver_time" style="vertical-align: top;"><input class="monitor" type="text" name="resilver_time" value="48" disabled></td>
        
        <td id="reset_button" style="vertical-align: top;"><button type="button" id="reset_button">Reset</button></td>
        <td id="status" style="white-space: normal; width: 15em; vertical-align: top;"></td>
    </tr>      

</table>

<p class="subsect_label">Click on the section titles to expand/collapse. Hovering over a table cell loads the relevant data into the Calculation Values section below. You can click table cells to freeze or unfreeze those values.</p>

<style>
    summary {
        font-size: 1.5em;
        padding: .5em;
    }
</style>

<details>
    <summary>Common Layouts</summary>
        <div class="results-container" id="common">
            <table class="results" id="common">
            </table>
        </div>
</details>

<details>
    <summary>Raw, Stripes, & Mirrors</summary>
        <div class="results-container" id="stripes">
            <table class="results" id="stripes">
            </table>
        </div>
</details>

<details>
    <summary>RAIDZ1</summary>
        <div class="results-container" id="raidz1">
            <table class="results" id="raidz1">
            </table>
        </div>
</details>

<details>
    <summary>RAIDZ2</summary>
        <div class="results-container" id="raidz2">
            <table class="results" id="raidz2">
            </table>
        </div>
</details>

<details>
    <summary>RAIDZ3</summary>
        <div class="results-container" id="raidz3">
            <table class="results" id="raidz3">
            </table>
        </div>
</details>

<details>
    <summary>dRAID</summary>
        <div class="results-container" id="draid">
            <table class="results" id="draid">
            </table>
        </div>
</details>


<h2 class="sect_labels" id="debug_vals">Calculation Values</h2>
<div id="debug_vals">
    <p class="subsect_label">(Click table cells above to freeze/unfreeze)</p>
    <table class="debug" id="debug_vals">
    </table>
</div>
