<code class="cli-cmd" id="cliCmd">
  {{ .Get "cmd" }}
  <button class="cli-cmd-copy" id="copyButton" data-cmd="{{ .Get "cmd" }}">
    <span class="copy-icon"><span class="iconify" data-icon="mdi:content-copy"></span></span>
    <span class="checkmark-icon" style="display: none;"><span class="iconify checkmark" data-icon="mdi:check"></span></span>
  </button>
</code>

<script>
  const copyButton = document.getElementById("copyButton");
  const cliCmd = document.getElementById("cliCmd");
  const copyIcon = copyButton.querySelector(".copy-icon");
  const checkmarkIcon = copyButton.querySelector(".checkmark-icon");

  copyButton.addEventListener("click", function () {
    const textToCopy = copyButton.getAttribute("data-cmd");

    const textarea = document.createElement("textarea");
    textarea.value = textToCopy;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand("copy");
    document.body.removeChild(textarea);

    // Hide the copy icon and show the green checkmark icon for 1 second
    copyIcon.style.display = "none";
    checkmarkIcon.style.display = "inline";

    setTimeout(function () {
      checkmarkIcon.style.display = "none";
      copyIcon.style.display = "inline";
    }, 700);
  });

  // Show the copy button on hover
  cliCmd.addEventListener("mouseover", function () {
    copyButton.style.display = "block";
  });

  // Hide the copy button when the mouse leaves
  cliCmd.addEventListener("mouseout", function () {
    copyButton.style.display = "none";
  });
</script>
