{{- $componentNames := dict "linux_kernel" "Linux Kernel" "openzfs" "OpenZFS" "docker_engine" "Docker Engine" "nvidia_driver" "NVIDIA Driver" -}}

{{- $version := .Get 0 -}}
{{- with .Site.Data.properties.component_versions.major_version -}}
  {{- $versionData := index . $version -}}

  <table class="component-versions-table">
    <thead>
      <tr>
        <th></th>
        {{- range $releaseVersion := $versionData.release_order }}
          <th>{{ $releaseVersion }}</th>
        {{- end }}
      </tr>
    </thead>
    <tbody>
      {{- range $componentName := $versionData.component_order }}
        <tr>
          <td>{{ index $componentNames $componentName }}</td> <!-- Human-readable name -->
          {{- range $releaseVersion := $versionData.release_order }}
            <td>
              <a href="{{ index (index $versionData.release $releaseVersion) "components" $componentName "link" }}">
                {{ index (index $versionData.release $releaseVersion) "components" $componentName "version" }}
              </a>
            </td>
          {{- end }}
        </tr>
      {{- end }}
    </tbody>
  </table>
{{- end }}
