<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{{ "/js/draid.js" | relURL }}"></script>

<table class="draid-big-grid"><tr>
    <td>
        <div class="draid-label-grid">
            <div class="draid-label" id="draid-parity-label">draid</div>
            <input type="text" class="draid-settings" id="draid-parity" value=2>
            <div class="draid-label">:</div>
            <input type="text" class="draid-settings" id="draid-data" value=7>
            <div class="draid-label" id="draid-data-label">d</div>
            <div class="draid-label">:</div>
            <input type="text" class="draid-settings" id="draid-children" value=24>
            <div class="draid-label" id="draid-children-label">c</div>
            <div class="draid-label">:</div>
            <input type="text" class="draid-settings" id="draid-spares" value=2>
            <div class="draid-label" id="draid-spares-label">s</div>
        </div>
        <div id="draid-notes">Enter dRAID vdev parameters above</div>

        <button type="button" class="draid-button" id="draid-update">Update</button>
        <button type="button" class="draid-button" id="draid-shuffle">Shuffle</button>

        
    </td>
    <td>
    <div class="draid-legend-container">
        <div class="draid-sub" id="draid-ex-disk">1</div>
        <div class="draid-leg-label">Disk</div>
        <div class="draid-sub" id="draid-ex-parity">1</div>
        <div class="draid-leg-label">Parity</div>
        <div class="draid-sub" id="draid-ex-data">1</div>
        <div class="draid-leg-label">Data</div>
        <div class="draid-sub" id="draid-ex-spare">1</div>
        <div class="draid-leg-label">Spare</div>
        <div class="draid-ex-slice">0</div>
        <div class="draid-leg-label">Slice</div>
    </div></td>
</tr></table>

<div id="draid-rows-label">Rows to Draw:</div>
<input type="text" class="draid-settings" id="draid-rows" value=20>

<br>

<div id="draid-sub-notes">Click "Update" to show the vdev layout below. Click "Shuffle" to see how ZFS distributes the data across the disks. <a target="_blank" href="/truenas/openzfs/#draid">Click here for a technical overview of dRAID</a>.</div>
<br>
<div id="draid-sub-notes">Each set of colored blocks in the diagram below represents a redundancy group. The darker blocks represent parity information and the paler blocks are user data. Each block is 16MiB of physical capacity on each disk. This application uses the same RNG algorithm and seeds as the ZFS code, so it should accurately represent how everything gets distributed in a dRAID vdev. The average imbalance ratio of the vdev and the physical on-disk size of each box is displayed at the bottom.</div>

<table class="grid-table">
    <tr>
        <td>
            <div class="draid-grid-container">
            </div>
        </td>
        <td>
            <div class="draid-slice-container">
            </div>
        </td>
    </tr>
</table>

<div id="draid-imbalance-ratio"></div>
