<blockquote style="background-color:#f3f9fd;border-left-color:#0095d5;border-left-width: 7px;border-top: 3px solid lightgray;border-bottom: 3px solid lightgray;border-right:3px solid lightgray;">
  <div style="font-weight:bold;color:black;">
	<img class="enterprise-icon" src="/favicon/TNEnt-favicon-32x32.png" style="padding-right:.25rem;padding-bottom:.5rem;">
    <span>TrueNAS Enterprise</span>
  </div>
  <div class="truenas-enterprise__text">{{ .Inner | $.Page.RenderString }}</div>
</blockquote>