{{ with $.Scratch.Get "expandCounter" }}
  {{ $.Scratch.Set "expandCounter" (add . 1) }}
{{ else }}
  {{ $.Scratch.Set "expandCounter" 1 }}
{{ end }}

{{ $uniqueID := printf "expand-%d" ($.Scratch.Get "expandCounter") }}

<details id="{{ $uniqueID }}" class="expand-details">
  <summary class="expand-title" aria-label="Toggle the expandable element">{{ .Get 0 }}
    <span class="copy-icon"><span class="iconify" data-icon="mdi:content-copy"></span></span>
    <span class="checkmark-icon" style="display: none;"><span class="iconify checkmark" data-icon="mdi:check"></span></span>
  </summary>
  {{ .Inner | $.Page.RenderString }}
</details>

<style>
  .expand-details .copy-icon {
    display: none;
  }

  .expand-details:hover .copy-icon {
    display: inline;
  }
</style>

<script>
  const expandDetailsList = document.querySelectorAll(".expand-details");

  expandDetailsList.forEach(function (expandDetails) {
    const summary = expandDetails.querySelector("summary");
    const copyIcon = summary.querySelector(".copy-icon");
    const checkmarkIcon = summary.querySelector(".checkmark-icon");
    const uniqueID = expandDetails.id;

    copyIcon.addEventListener("click", function () {
      // Get the current URL of the page
      const currentPageUrl = window.location.origin + window.location.pathname;

      // Generate the URL with the anchor
      const urlToCopy = `${currentPageUrl}#${uniqueID}`;

      const textarea = document.createElement("textarea");
      textarea.value = urlToCopy;
      document.body.appendChild(textarea);
      textarea.select();
      document.execCommand("copy");
      document.body.removeChild(textarea);

      // Hide the copy icon and show the green checkmark icon for 1 second
      copyIcon.style.display = "none";
      checkmarkIcon.style.display = "inline";

      setTimeout(function () {
        checkmarkIcon.style.display = "none";
        copyIcon.style.display = "inline";
      }, 700);
    });
  });
</script>
