<style>
.inprog-box {
    width: 300mm;
    border: 7px solid rgb(228, 53, 53);
    padding: 25px;
    text-align: center;
    border-radius: 25px;
    margin: auto;
}
</style>
<h1 class="inprog-box">
    This website is currently a work in progress. Go to the
    <a href="https://jira.ixsystems.com/projects/DOCS" target="_blank">
    documentation project</a> to suggest any changes or additions.

    Until the site is finished, please refer to the
    <a href="https://www.ixsystems.com/library/"> iXsystems Library</a>
    for full documentation.
</h1>