{{- $name := .Get "name" -}}
{{- $productData := index .Site.Data.properties $name -}}
{{- with $productData }}
  <div class="section-box" id="{{ .id }}" style="padding: 1.5rem; max-width: 500px;">
    <div class="box-image">
      <img src="{{ .img }}" style="padding-bottom: .5rem; box-shadow: none;">
    </div>
    <p style="margin-bottom: 1.5rem;">
      <b>{{ .title | safeHTML }}</b>
    </p>

    {{- if .properties }}
      <dl class="gdoc-props" style="margin-bottom: 0;">
        {{- $properties := .properties }}
        {{- $sort := .sort }}
        {{- $order := default "asc" .order }}

        {{- with $sort }}
          {{- $properties = (sort $properties . $order) }}
        {{- end }}

        {{- $latestEntries := where $properties "latest" true }}
        {{- $nonLatestEntries := where $properties "latest" false }}

        {{- if $latestEntries }}
          <dt class="flex flex-wrap align-center gdoc-props__meta">
            <span class="gdoc-props__latest-label">Latest:</span>
          </dt>      
          {{- range $latestEntries }}
            <dt class="flex flex-wrap align-center gdoc-props__meta" style="margin-left: .5rem;">
              {{- if and (.link) (.name) }}
                <a href="{{ .link }}" class="gdoc-props__title">{{ .name }}</a>
              {{- else }}
                <span class="gdoc-props__title">{{ .name }}</span>
              {{- end }}

              {{- with .type }}
                <span class="gdoc-props__tag note" style="margin-left: 0.5rem;">{{ . }}</span>
              {{- end }}
              {{- with .tags }}
                {{- $tags := . }}
                {{- if reflect.IsMap $tags }}
                  {{- $tags = (index $tags $.Site.Language.Lang) }}
                {{- end }}
                {{- range $tags }}
                  <span class="gdoc-props__tag">{{ . }}</span>
                {{- end }}
              {{- end }}
            </dt>
            <dd style="margin-left: .5rem;">
              <div class="gdoc-props__description">
                {{- with .description }}
                  {{- $desc := . }}
                  {{- if reflect.IsMap $desc }}
                    {{- $desc = (index $desc $.Site.Language.Lang) }}
                  {{- end }}
                  {{ $desc | $.Page.RenderString }}
                {{- end }}
              </div>
            </dd>
          {{- end }}
        {{- end }}

        {{- if or $latestEntries $nonLatestEntries }}
        <hr width="50%" style="margin: 1rem auto;">
        {{- end }}

        {{- if $nonLatestEntries }}
          <dt class="flex flex-wrap align-center gdoc-props__meta">
            <span class="gdoc-props__anticipated-label">Anticipated:</span>
          </dt>       
          {{- range $nonLatestEntries }}
            <dt class="flex flex-wrap align-center gdoc-props__meta" style="margin-left: .5rem;">
              {{- if and (.link) (.name) }}
                <a href="{{ .link }}" class="gdoc-props__title">{{ .name }}</a>
              {{- else }}
                <span class="gdoc-props__title">{{ .name }}</span>
              {{- end }}

              {{- with .type }}
                <span class="gdoc-props__tag note">{{ . }}</span>
              {{- end }}
              {{- with .tags }}
                {{- $tags := . }}
                {{- if reflect.IsMap $tags }}
                  {{- $tags = (index $tags $.Site.Language.Lang) }}
                {{- end }}
                {{- range $tags }}
                  <span class="gdoc-props__tag">{{ . }}</span>
                {{- end }}
              {{- end }}
            </dt>
            <dd style="margin-left: .5rem;">
              <div class="gdoc-props__description">
                {{- with .description }}
                  {{- $desc := . }}
                  {{- if reflect.IsMap $desc }}
                    {{- $desc = (index $desc $.Site.Language.Lang) }}
                  {{- end }}
                  {{ $desc | $.Page.RenderString }}
                {{- end }}
              </div>
            </dd>
          {{- end }}
        {{- end }}
      </dl>
    {{- end }}
  </div>
{{- end }}
