{{/* layouts/shortcodes/releaselist.html */}}
{{- $name := .Get "name" -}}
{{- $defaultTab := .Get "defaultTab" | default "2" | int -}}
{{- $productData := index .Site.Data.properties $name -}}
{{- with $productData }}
  <div class="gdoc-columns__content gdoc-markdown--nested flex-even">
    <div class="section-box" id="{{ .id }}" style="padding: 1.5rem; max-width: 500px;">
      <div class="box-image">
        <img src="{{ .img }}" style="padding-bottom: .5rem; box-shadow: none;">
      </div>
      <p style="margin-bottom: 1.5rem;">
        <b>{{ .title | safeHTML }}</b>
      </p>

      {{- if .majorVersions }}
        <div class="major-version-tabs">
          {{- range $index, $majorVersion := .majorVersions }}
            <button class="major-version-tab" onclick="showMajorVersion('{{ $majorVersion.lifecycle }}')">{{ $majorVersion.lifecycle }}</button>
          {{- end }}
        </div>

        {{- range $index, $majorVersion := .majorVersions }}
          <div class="major-version-content" id="majorVersion{{ $majorVersion.lifecycle }}" style="display: {{ if eq $index $defaultTab }}block{{ else }}none{{ end }};">
            <h3>{{ $majorVersion.name }}</h3>

            {{- $latestEntries := where $majorVersion.releases "latest" true }}
            {{- $nonLatestEntries := where $majorVersion.releases "latest" false }}

            {{- if $latestEntries }}
              <h4 class="flex flex-wrap align-center gdoc-props__meta">
                Latest:
              </h4>
              {{- range $latestEntries }}
                <dt class="flex flex-wrap align-center gdoc-props__meta" style="margin-left: .5rem;">
                  {{- if and (.link) (.name) }}
                    <a href="{{ .link }}" class="gdoc-props__title">{{ .name }}</a>
                  {{- else }}
                    <span class="gdoc-props__title">{{ .name }}</span>
                  {{- end }}

                  {{- with .type }}
                    <span class="gdoc-props__tag note" style="margin-left: 0.5rem;">{{ . }}</span>
                  {{- end }}
                  {{- with .tags }}
                    {{- $tags := . }}
                    {{- if reflect.IsMap $tags }}
                      {{- $tags = (index $tags $.Site.Language.Lang) }}
                    {{- end }}
                    {{- range $tags }}
                      <span class="gdoc-props__tag">{{ . }}</span>
                    {{- end }}
                  {{- end }}
                </dt>
                <dd style="margin-left: .5rem;">
                  <div class="gdoc-props__description">
                    {{- with .description }}
                      {{- $desc := . }}
                      {{- if reflect.IsMap $desc }}
                        {{- $desc = (index $desc $.Site.Language.Lang) }}
                      {{- end }}
                      {{ $desc | $.Page.RenderString }}
                    {{- end }}
                  </div>
                </dd>
              {{- end }}

              {{- if $nonLatestEntries }}
                <hr width="50%" style="margin: 1rem auto;">
              {{- end }}
            {{- end }}

            {{- if $nonLatestEntries }}
              <h4 class="flex flex-wrap align-center gdoc-props__meta">
                Anticipated:
              </h4>
              {{- range $nonLatestEntries }}
                <dt class="flex flex-wrap align-center gdoc-props__meta" style="margin-left: .5rem;">
                  {{- if and (.link) (.name) }}
                    <a href="{{ .link }}" class="gdoc-props__title">{{ .name }}</a>
                  {{- else }}
                    <span class="gdoc-props__title">{{ .name }}</span>
                  {{- end }}

                  {{- with .type }}
                    <span class="gdoc-props__tag note">{{ . }}</span>
                  {{- end }}
                  {{- with .tags }}
                    {{- $tags := . }}
                    {{- if reflect.IsMap $tags }}
                      {{- $tags = (index $tags $.Site.Language.Lang) }}
                    {{- end }}
                    {{- range $tags }}
                      <span class="gdoc-props__tag">{{ . }}</span>
                    {{- end }}
                  {{- end }}
                </dt>
                <dd style="margin-left: .5rem;">
                  <div class="gdoc-props__description">
                    {{- with .description }}
                      {{- $desc := . }}
                      {{- if reflect.IsMap $desc }}
                        {{- $desc = (index $desc $.Site.Language.Lang) }}
                      {{- end }}
                      {{ $desc | $.Page.RenderString }}
                    {{- end }}
                  </div>
                </dd>
              {{- end }}
            {{- end }}
          </div>
        {{- end }}
      {{- end }}
    </div>
  </div>

  <script>
    function showMajorVersion(majorVersion) {
      var majorVersionContents = document.querySelectorAll('.major-version-content');
      majorVersionContents.forEach(function(content) {
        content.style.display = 'none';
      });

      var selectedContent = document.getElementById('majorVersion' + majorVersion);
      if (selectedContent) {
        selectedContent.style.display = 'block';
      }
    }

    document.addEventListener('DOMContentLoaded', function() {
      var defaultTabIndex = {{ $defaultTab }} - 1; // Convert to zero-based index
      var majorVersionTabs = document.querySelectorAll('.major-version-tab');
      if (defaultTabIndex >= 0 && defaultTabIndex < majorVersionTabs.length) {
        majorVersionTabs[defaultTabIndex].click();
      }
    });
  </script>
{{- end }}
