<!-- This is a row of 4 product cards with tab buttons to switch between three different major versions.
     Links relevant to that major version become visible when a card's tab button is clicked.
	 Tabs are labeled "Previous", "Stable", and "Next" and the links within these sections need to be adjusted as new major versions release.
	 -->
<div class="docs-sections">
  <div class="section-box" id="scale-section">
    <div class="box-image">
      <img src="/images/tn-openstorage-logo.png" style="padding-bottom:1.2rem;box-shadow: none;">
    </div>
    <p><b>TrueNAS&trade; | Enterprise&trade;</b></p>
    <div class="section-tabs">
      <div class="section-tab" id="scale-prev-tab">Previous</div>
      <div class="section-tab active" id="scale-stable-tab">Current</div>
      <div class="section-tab" id="scale-next-tab">Next</div>
    </div>
    <div class="section-tab-content" id="scale-previous">
    <a href="https://www.truenas.com/docs/scale/24.04/">24.04 - Enterprise / Community</a>
    <br><a href="https://www.truenas.com/docs/scale/24.04/scaletutorials/apps/">24.04 Application Tutorials</a>  
    <br><a href="https://www.truenas.com/docs/core/13.0/">13.0 - Enterprise / Community</a>
	  <br><a href="https://www.truenas.com/docs/core/13.3/">13.3 - Community only</a>
    </div>
    <div class="section-tab-content" id="scale-stable" style="display:none;">
    <a href="https://www.truenas.com/docs/scale/24.10/">24.10 - Enterprise / Community</a>
    <br><a href="https://www.truenas.com/docs/scale/24.10/gettingstarted/scalereleasenotes/">24.10 Release Notes</a>
	  <br><a href="/truenasapps/">Application Tutorials</a>
    </div>
    <div class="section-tab-content" id="scale-next" style="display:none;">
    <a href="/scale/">25.04 (Nightly Development) - Enterprise / Community</a>
	  <br><a href="/scale/25.04/gettingstarted/scalereleasenotes/">25.04 Development Notes</a>
	  <br><a href="/truenasapps/">Application Tutorials</a>
    </div>
  </div>

<!-- Systems Box -->
  <div class="section-box" id="systems-section">
    <div class="box-image">
      <img src="/images/truenas_enterprise-logo-full-color-rgb.png" style="padding-bottom:.5rem;box-shadow: none;">
    </div>
    <p><b>TrueNAS<sup class="section-sup">&reg;</sup> Systems</b></p>
    <div class="section-tabs">
      <div class="section-tab mute" disabled>&emsp;&emsp;&ensp;</div>
      <div class="section-tab active"id="tn-systems-hardware">Hardware</div>
	    <div class="section-tab mute" disabled>&emsp;&emsp;&ensp;</div>
    </div>
    <div class="section-tab-content" id="tn-systems-hardware">
      <a href="/hardware/">Systems Overview</a>
      <br><a href="/hardware/stencils/">Visio Stencils</a>
      <br><a href="/hardware/notices/">Notices</a>
      <br><a href="/hardware/legacyhardware/">Legacy Systems</a>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
  function showTabContent(sectionBox, tabIndex) {
    const tabContents = sectionBox.querySelectorAll(".section-tab-content");
    const tabs = sectionBox.querySelectorAll(".section-tab");

    tabContents.forEach(content => {
      content.style.display = "none";
    });

    tabContents[tabIndex].style.display = "block";

    tabs.forEach(tab => {
      tab.classList.remove("active");
    });

    tabs[tabIndex].classList.add("active");
  }

  const sectionBoxes = document.querySelectorAll(".section-box:not(#systems-section)");
  sectionBoxes.forEach(box => {
    const tabs = box.querySelectorAll(".section-tab");
    tabs.forEach((tab, index) => {
      tab.addEventListener("click", function() {
        const tabContainer = tab.closest(".section-box");
        const tabArray = Array.from(tabs);
        const tabIndex = tabArray.indexOf(tab);
        showTabContent(tabContainer, tabIndex);
      });
    });
  });

  sectionBoxes.forEach(box => {
    const defaultTabIndex = box.querySelector(".section-tab.active");
    const tabArray = Array.from(box.querySelectorAll(".section-tab"));
    const tabIndex = tabArray.indexOf(defaultTabIndex);
    showTabContent(box, tabIndex);
  });
});
</script>
