{{ $currPermalink := .Page.RelPermalink }}
{{ $tag := $.Params.tag }}
{{ $categoriesStr := .Get "categories" | default "" }}
{{ $categories := split $categoriesStr "," }}
{{ $limit := int ($.Params.limit) }}
{{ $customTitle := .Get "title" | default "Related Content" }}

{{ if (eq $limit -1) }}
  {{ $limit = len site.RegularPages }}
{{ end }}

{{ $firstCategory := index $categories 0 }}
{{ $relatedCategories := slice }}

{{ range $category := $categories }}
  {{ if ne $category "" }}
    {{ $categoryTitle := "" }}
    {{ if eq $category "SCALETutorials" }}
      {{ $categoryTitle = "Tutorials" }}
    {{ else if eq $category "SCALEUIReference" }}
      {{ $categoryTitle = "UI Reference" }}
    {{ else if eq $category "SCALECLIReference" }}
      {{ $categoryTitle = "CLI Reference" }}
    {{ else }}
      {{ $categoryTitle = $category }}
    {{ end }}

    {{ $relatedPages := slice }} <!-- Initialize a separate slice for each category -->
    {{ range sort site.RegularPages "Params.weight" "asc" }}
      {{ $frontMatter := .Params }}
      {{ $pageTags := $frontMatter.tags }}
      {{ $pageCategory := $frontMatter.book }}
      {{ if and (not (eq .RelPermalink $currPermalink)) (or (eq $category "") (eq $pageCategory $category)) (in $pageTags $tag) }}
        {{ $relatedPages = $relatedPages | append . }}
      {{ end }}
    {{ end }}

    {{ if len $relatedPages }}
      {{ if eq $category $firstCategory }}
        <h2 style="margin-top: 50px;">{{ $customTitle }}</h2> <!-- Adjust the margin as needed for spacing before the first h2 -->
      {{ end }}
      <h3>{{ $categoryTitle }}</h3>
      <ul>
        {{ range first $limit $relatedPages }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}

    {{ $relatedCategories = $relatedCategories | append $category }}
  {{ end }}
{{ end }}

{{ if ne (len $relatedCategories) 1 }}
  <style>
    h3 {
      margin-top: 20px; /* Adjust the margin as needed for spacing between h3 headings */
    }
  </style>
{{ end }}
