{{ $currPermalink := .Page.RelPermalink }}
{{ $tag := $.Params.tag }}
{{ $categoriesStr := .Get "categories" | default "" }}
{{ $categories := split $categoriesStr "," }}
{{ $limit := int ($.Params.limit) }}
{{ $customTitle := .Get "title" | default "Related Content" }}

{{ if (eq $limit -1) }}
  {{ $limit = len site.RegularPages }}
{{ end }}

{{ $firstCategory := index $categories 0 }}
{{ $relatedCategories := slice }}
{{ $contentFound := false }}
{{ $columnCounter := 1 }} <!-- Initialize column counter -->
{{ $maxColumns := 4 }} <!-- Maximum number of columns -->

<style>
  .taglist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap as needed */
  }

  .taglist-column {
    flex: 1;
    max-width: calc(25% - 20px); /* Set the desired column width with margin */
    margin-right: 20px; /* Set the desired space between columns */
  }

  .taglist-column:last-child {
    margin-right: 0; /* Remove margin from the last column */
  }

  h2 {
    margin-top: 0;
  }

  hr {
    margin-top: 20px;
  }

  h3 {
    margin-top: 0;
  }

  /* Media query for small screens */
  @media screen and (max-width: 800px) {
    .taglist-container {
      flex-direction: column; /* Change to vertical layout */
    }

    .taglist-column {
      max-width: 100%; /* Take full width on small screens */
      margin-right: 0; /* Remove margin between columns */
    }
  }
</style>

<hr>
<br>
<h2 class="taglist-title">{{ $customTitle }}</h2>

<div class="taglist-container">
  {{ range $category := $categories }}
    {{ if ne $category "" }}
      {{ $categoryTitle := "" }}
      {{ if eq $category "SCALETutorials" }}
        {{ $categoryTitle = "SCALE Tutorials" }}
      {{ else if eq $category "SCALEUIReference" }}
        {{ $categoryTitle = "SCALE UI Reference" }}
      {{ else if eq $category "SCALECLIReference" }}
        {{ $categoryTitle = "SCALE CLI Reference" }}
      {{ else if eq $category "SCALE/GettingStarted" }}
        {{ $categoryTitle = "Getting Started with SCALE" }}
      {{ else if eq $category "CORE/GettingStarted" }}
        {{ $categoryTitle = "Getting Started with CORE" }}
      {{ else if eq $category "CORETutorials" }}
        {{ $categoryTitle = "CORE Tutorials" }}
      {{ else if eq $category "UIReference" }}
        {{ $categoryTitle = "CORE UI Reference" }}
      {{ else if eq $category "TrueCommand" }}
        {{ $categoryTitle = "TrueCommand" }}
      {{ else if eq $category "References" }}
        {{ $categoryTitle = "General Reference" }}
      {{ else if eq $category "Contributing" }}
        {{ $categoryTitle = "Contributing" }}
      {{ else if eq $category "Solutions" }}
        {{ $categoryTitle = "Solutions" }}
      {{ else }}
        {{ $categoryTitle = $category }}
      {{ end }}

      {{ $relatedPages := slice }}
      {{ range sort site.RegularPages "Params.weight" "asc" }}
        {{ $frontMatter := .Params }}
        {{ $pageTags := $frontMatter.tags }}
        {{ $pageCategory := $frontMatter.book }}
        {{ if and (not (eq .RelPermalink $currPermalink)) (or (eq $category "") (eq $pageCategory $category)) (in $pageTags $tag) }}
          {{ $relatedPages = $relatedPages | append . }}
          {{ $contentFound = true }}
        {{ end }}
      {{ end }}

      {{ if len $relatedPages }}
       {{ if le $columnCounter $maxColumns }}
        <div class="taglist-column">
          <h3>{{ $categoryTitle }}</h3>
          <ul>
            {{ range first $limit $relatedPages }}
              <li>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
        {{ $columnCounter = add $columnCounter 1 }}
        {{ end }}
      {{ end }}

      {{ $relatedCategories = $relatedCategories | append $category }}
    {{ end }}
  {{ end }}
</div>

{{ if and (not $contentFound) (eq $columnCounter 1) }}
  <div class="taglist-column">
    <p>No Related Content Found</p>
  </div>
{{ end }}
