<!-- Get src param from shortcode -->
{{ $src := $.Get "src" }}
{{ $image := .Page.Resources.GetMatch (.Get "src") }}
{{ $file := path.Join (path.Dir .Page.File.Path) $image }}
{{ $stat := os.Stat $file }}

<!-- Get alt param from shortcode -->
{{ $alt := $.Get "alt" }}

<!-- Get id param from shortcode -->
{{ $id := $.Get "id" }}

<!-- Get caption param from shortcode -->
{{ $caption := $.Get "caption" | markdownify }}

<!-- Get style param from shortcode -->
{{ $style := $.Get "style" }}

{{- $figureCounter := .Page.Scratch.Get "figureCounter" | default 1 }}
{{- $.Page.Scratch.Set "figureCounter" (add $figureCounter 1) }}

{{- with .Get "src" }}
  {{- $src := . }}
  {{- $image := resources.GetMatch . }}
  {{- if $image }}
    {{- $alt = $image.Title }}
  {{- end }}

<div style="text-align:center;">
  <a href="{{ printf "%s" $src | absURL }}" target="_blank"> 
  <figure class="trueimg" id="figure-{{ $figureCounter }}">
    <img src="{{ printf "%s" $src | absURL }}" title="{{ printf "%s" $alt }}" alt="{{ printf "%s" $alt }}" loading="lazy" decoding="async" style="{{ $style }}">
    <figcaption>
      <a href="#figure-{{ $figureCounter }}" style="font-weight:bold;text-align:center;margin-bottom: 1px;">
        Figure {{ $figureCounter }}: {{ $id }}
      </a>
      {{- if $caption }}
        <p style="text-align: center;margin-top: 1px;"><small>{{ $caption }}</small></p>
      {{- end }}
    </figcaption>    
  </figure>
  </a>
</div>

{{- else }}
{{- errorf "missing value for param 'name': %s" .Position }}
{{- end }}
