{{ $scaleReleases := index .Site.Data.properties "scale-releases" }}
{{ $coreReleases := index .Site.Data.properties "core-releases" }}
{{ $tcReleases := index .Site.Data.properties "tc-releases" }}

<blockquote class="gdoc-hint warning" style="font-size: small; display: inline-block; max-width: 100%;">
  <div class="gdoc-hint__text">
    <p>This is the nightly development (unstable) version of this documentation, which may include features not available in or compatible with released stable versions.</p>
    <p>To browse stable documentation, use the product and version selector above or see SCALE
      {{- with $scaleReleases.properties }}
        {{- $latest := where . "latest" true }}
        {{- range $index, $release := $latest }}
          {{- if .link }}
            <a href="{{ .link }}" target="_blank">{{ .name }}</a>{{ if ne $index (sub (len $latest) 1) }} or {{ end }}
          {{- end }}
        {{- end }}
      {{- end }},
      CORE
      {{- with $coreReleases.properties }}
        {{- $latest := where . "latest" true }}
        {{- range $index, $release := $latest }}
          {{- if .link }}
            <a href="{{ .link }}" target="_blank">{{ .name }}</a>{{ if ne $index (sub (len $latest) 1) }} or {{ end }}
          {{- end }}
        {{- end }}
      {{- end }},
      or TrueCommand
      {{- with $tcReleases.properties }}
        {{- $latest := where . "latest" true }}
        {{- range $index, $release := $latest }}
          {{- if .link }}
            <a href="{{ .link }}" target="_blank">{{ .name }}</a>{{ if ne $index (sub (len $latest) 1) }} or {{ end }}
          {{- end }}
        {{- end }}
      {{- end }}.
    </p>
  </div>
</blockquote>
