{{ $isPage := or (and (ne .Type "posts") (in "section page" .Kind )) (and (eq .Type "posts") (eq .Kind "page")) }}
{{- if eq .Kind "home" }}
  {{- $schema := dict "@context" "http://schema.org" "@type" "WebSite" "name" .Site.Title "url" .Site.BaseURL "inLanguage" .Lang }}
  {{- with partial "utils/description" . }}
    {{- $schema = merge $schema (dict "description" (. | plainify | htmlUnescape | chomp)) }}
  {{- end }}
  {{- with partial "utils/featured" . }}
    {{- $schema = merge $schema (dict "thumbnailUrl" .) }}
  {{- end }}
  {{- with .Site.Params.GeekdocContentLicense }}
    {{- $schema = merge $schema (dict "license" .name) }}
  {{- end }}
  <script type="application/ld+json">{{ $schema | jsonify }}</script>
{{- else if $isPage }}
  {{- $logo := dict "@type" "ImageObject" "url" ((default "brand.svg" .Site.Params.logo) | absURL) "width" "32" "height" "32" }}
  {{- $publisher := dict "@type" "Organization" "name" .Site.Title "url" .Site.BaseURL "logo" $logo }}
  {{- $mainEntity := dict "@type" "WebPage" "@id" .Permalink }}
  {{- $schema := dict
    "@context" "http://schema.org"
    "@type" "TechArticle"
    "articleSection" (.Section | humanize | title)
    "name" (partial "utils/title" .)
    "url" .Permalink
    "headline" (partial "utils/title" .)
    "wordCount" (print .WordCount)
    "inLanguage" .Lang
    "isFamilyFriendly" "true"
    "mainEntityOfPage" $mainEntity
    "copyrightHolder" .Site.Title
    "copyrightYear" (.Date.Format "2006")
    "dateCreated" (.Date.Format "2006-01-02T15:04:05.00Z")
    "datePublished" (.PublishDate.Format "2006-01-02T15:04:05.00Z")
    "dateModified" (.Lastmod.Format "2006-01-02T15:04:05.00Z")
    "publisher" $publisher
  }}
  {{- with .Params.lead }}
    {{- $schema = merge $schema (dict "alternativeHeadline" .) }}
  {{- end }}
  {{- with partial "utils/description" . }}
    {{- $schema = merge $schema (dict "description" (. | plainify | htmlUnescape | chomp)) }}
  {{- end }}
  {{- with partial "utils/featured" . }}
    {{- $schema = merge $schema (dict "thumbnailUrl" .) }}
  {{- end }}
  {{- with .Site.Params.GeekdocContentLicense }}
    {{- $schema = merge $schema (dict "license" .name) }}
  {{- end }}
  {{- with $tags := .Params.tags }}
    {{- $schema = merge $schema (dict "keywords" $tags) }}
  {{- end }}
  <script type="application/ld+json">{{ $schema | jsonify }}</script>
{{- end }}
