# This is the workflow for external contributor

name: 'External Contributor Build Preview'

# Controls when the action will run.
on:
  pull_request_target:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    if: github.event.pull_request.head.repo.full_name != github.repository
    environment: CI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0         # Fetch all history for .GitInfo and .Lastmod

      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2.4.13
        with:
          hugo-version: '0.81.0'
          extended: true

      - name: Install dependencies
        run: pnpm i

      - name: Print PNPM modules after install
        run: du -d 0 -h ~/.pnpm-store/*/*/* || true

      - name: Build Hugo Site
        run: hugo -d public --gc --minify

      - name: Preview
        uses: afc163/surge-preview@v1
        id: preview_step
        with:
          surge_token: ${{ secrets.QA_SURGE_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dist: public
          teardown: 'true'
          failOnError: 'true'
          build: |
            echo Deploying to surge.sh

      - name: Get the preview_url
        run: echo "url => ${{ steps.preview_step.outputs.preview_url }}"

      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash

      - name: Check links using container
        uses: ruzickap/action-my-broken-link-checker@v2
        with:
          url: "https://${{ steps.preview_step.outputs.preview_url }}"
          cmd_params: >
            --buffer-size=8192
            --skip-tls-verification
            --timeout=60
            --rate-limit=30
            --color=always
            --exclude docs/
            --exclude=docs/files/
            --exclude=files/TrueNASCollection.vssx
            --exclude=update.freenas.org
            --exclude=microsoft.com
            --exclude=oracle.com
            --exclude=amazon.com
            --exclude=apple.com
            --exclude=fastmail.com
            --exclude=linode.com
            --exclude=community.openvpn.net
            --exclude=tools.ietf.org
            --exclude=github.com
            --exclude=freebsd.org
            --exclude=jira.ixsystems.com
            --exclude=linkedin.com
            --exclude=googletagmanager.com
            --exclude=youtube.com
            --exclude=vmware.com
            --exclude=cyberciti.biz
            --exclude=truenas-documentation-deploy.surge.sh
            --exclude=tc2api.html
            --exclude=/docs/images/tn-openstorage-logo.png
            --exclude=https://www.backblaze.com/
            --exclude=https://discord.com/invite/Q3St5fPETd
            --exclude=https://www.veeam.com/documentation-guides-datasheets.html
            --exclude=https://twitter.com/TrueNAS
            --exclude=https://www.openpgp.org/software/
            --exclude=https://gohugo.io/
            --exclude=https://www.unix.com/
          run_timeout: 300
          debug: true
