# This is a basic workflow to help you get started with Actions

name: 'Internal Contributor Build Preview'

# Controls when the action will run. 
on:
  pull_request:
    branches: [ master, DOCS-553-TC2Docs ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    if: github.event.pull_request.head.repo.full_name == github.repository
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0         # Fetch all history for .GitInfo and .Lastmod

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.81.0'
          extended: true

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '14'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - run: npm ci
      - run: hugo -d public --gc --minify
      
      - name: Preview
        uses: afc163/surge-preview@v1
        id: preview_step
        with:
          surge_token: ${{ secrets.SURGE_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dist: public
          failOnError: 'true'
          build: |
            echo Deploying to surge.sh
      - name: Get the preview_url
        run: echo "url => ${{ steps.preview_step.outputs.preview_url }}"
     
      - name: Sleep for 160 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: '160s'
     
      - name: Check links using container
        uses: ruzickap/action-my-broken-link-checker@v2
        with:
          url: "https://${{ steps.preview_step.outputs.preview_url }}"
          cmd_params: "--skip-tls-verification --timeout=30 --rate-limit=30 --max-connections=10 --color=always --exclude=docs/files/ --exclude=files/TrueNASCollection.vssx --exclude=update.freenas.org --exclude=microsoft.com --exclude=oracle.com --exclude=amazon.com --exclude=apple.com --exclude=fastmail.com --exclude=linode.com --exclude=community.openvpn.net --exclude=tools.ietf.org --exclude=github.com --exclude=freebsd.org --exclude=jira.ixsystems.com --exclude=linkedin.com --exclude=googletagmanager.com --exclude=youtube.com --exclude=vmware.com --exclude=cyberciti.biz --exclude=truenas-documentation-deploy.surge.sh --exclude=tc2api.html --exclude=/docs/images/tn-openstorage-logo.png --exclude=https://www.backblaze.com/ --exclude=https://discord.com/invite/Q3St5fPETd"
          run_timeout: 600
          debug: true
